# __Consumo de energía en edificios de la Comunidad de Madrid__

##### _Grupo Erasmus_

Importamos los datos descargados sobre el consumo de energía de edificios en la Comunidad de Madrid.

In [621]:
import pandas as pd 
consumo = pd.read_csv ('C:/Users/Cristina/Documents/Documentos/cris_somalo/UNI_EUROPEA/Erasmus/BigData1/datos proyecto de big data/consumo_energia_edificios.csv', encoding = 'ISO-8859-1', sep= ';')
consumo

,AÑO,MES,ID,TIPOEDIFICIO,EDIFICIO,DIRECCION,DISTRITO,CÓDIGO DISTRITO,BARRIO,CÓDIGO BARRIO,COORDENADA-X,COORDENADA-Y,LONGITUD,LATITUD,SENSOR,TIPO,CLASE,GRUPO,UNIDADES,CONSUMO
0,2020,3,2258.0,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,11,SAN ISIDRO,113,"438873,92","4472154,36",-3.7202936410904,40.3977521494866,AMBIBAMMATUTE_General,Externo,Energía activa,Activa Interruptor Gral,kWh,13099
1,2020,3,2258.0,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,11,SAN ISIDRO,113,"438873,92","4472154,36",-3.7202936410904,40.3977521494866,AMBIBAMMATUTE_General,Externo,Energía Reactiva,Reactiva tarifa 3.1A,kvarh,104
2,2020,3,2178.0,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Electricidad_General,Externo,Energía activa,Activa Interruptor Gral,kWh,9688
3,2020,3,2178.0,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Electricidad_General,Externo,Energía Reactiva,Reactiva tarifa 3.1A,kvarh,4262
4,2020,3,2178.0,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Gas_General,Externo,Gas,Gas,m3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23048,2024,10,NaN,Centros culturales y bibliotecas,Biblioteca Pablo Neruda,"CALLE ASCAO, 4 28017 MADRID",CIUDAD LINEAL,15,PUEBLO NUEVO,152,"445565,18",4475620,-3.641334923876934,40.42963395178173,[Biblioteca Pablo Neruda][0702] Consumo Biblio...,PROCESADO,Energía activa,NaN,kWh,"5974,660645"
23049,2024,10,NaN,Centros culturales y bibliotecas,CMM Orcasur,"AVENIDA ORCASUR, 60 28041 MADRID",USERA,12,ORCASUR,122,"440558,44","4468830,39",-3.69954710390932,40.368311695306396,[CMM Orcasur][1096] Electricidad General Conta...,PROCESADO,Energía activa,NaN,kWh,"10184,9873"
23050,2024,10,NaN,Centros culturales y bibliotecas,Biblioteca Gabriel García Márquez,"PLAZA PUEBLO, 2 (CENTRO CULTURAL ORCASUR) ...",USERA,12,ORCASUR,122,"440484,3","4468711,09",-3.7014543907797677,40.36697564023111,[Biblioteca Gabriel García Márquez][1095] Elec...,PROCESADO,Energía activa,NaN,kWh,"3756,825439"
23051,2024,10,NaN,Centros escolares,CEIP Ntra Sra de la Almudena,"CALLE LOPE DE RUEDA, 48, 28009 MADRID",RETIRO,3,IBIZA,34,"442741,9","4474561,6",-3.674934214335211,40.419712628103916,[CEIP Ntra Sra de la Almudena][0483] Electrici...,EXTERNO,Energía activa,NaN,kWh,"1695,100098"
23052,2024,10,NaN,Centros culturales y bibliotecas,CC El Torito,"AVENIDA MORATALAZ, 130 28030 MADRID",MORATALAZ,14,VINATEROS,146,"445135,88","4473047,36",-3.645480705416855,40.40627804229188,[CC El Torito][1017] Consumo total,PROCESADO,Energía activa,NaN,kWh,"3151,596924"

Comprobamos si hay nulos con la función *info()* en el fichero.

In [623]:
consumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23053 entries, 0 to 23052
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AÑO              23053 non-null  int64
 1   MES              23053 non-null  int64
 2   ID               11690 non-null  float64
 3   TIPOEDIFICIO     23053 non-null  object
 4   EDIFICIO         23053 non-null  object
 5   DIRECCION        23053 non-null  object
 6   DISTRITO         23053 non-null  object
 7   CÓDIGO DISTRITO  23053 non-null  object
 8   BARRIO           23053 non-null  object
 9   CÓDIGO BARRIO    23053 non-null  object
 10  COORDENADA-X     23053 non-null  object
 11  COORDENADA-Y     23053 non-null  object
 12  LONGITUD         23053 non-null  object
 13  LATITUD          23053 non-null  object
 14  SENSOR           23053 non-null  object
 15  TIPO             23053 non-null  object
 16  CLASE            23053 non-null  object
 17  GRUPO            3006 non-null   object
 18  UNIDADES         23053 non-null  object
 19  CONSUMO          23034 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 3.5+ MB

Borramos los posibles datos duplicados.

In [625]:
consumo.drop_duplicates(inplace=True)

In [626]:
consumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23053 entries, 0 to 23052
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AÑO              23053 non-null  int64
 1   MES              23053 non-null  int64
 2   ID               11690 non-null  float64
 3   TIPOEDIFICIO     23053 non-null  object
 4   EDIFICIO         23053 non-null  object
 5   DIRECCION        23053 non-null  object
 6   DISTRITO         23053 non-null  object
 7   CÓDIGO DISTRITO  23053 non-null  object
 8   BARRIO           23053 non-null  object
 9   CÓDIGO BARRIO    23053 non-null  object
 10  COORDENADA-X     23053 non-null  object
 11  COORDENADA-Y     23053 non-null  object
 12  LONGITUD         23053 non-null  object
 13  LATITUD          23053 non-null  object
 14  SENSOR           23053 non-null  object
 15  TIPO             23053 non-null  object
 16  CLASE            23053 non-null  object
 17  GRUPO            3006 non-null   object
 18  UNIDADES         23053 non-null  object
 19  CONSUMO          23034 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 3.5+ MB

Encontramos datos nulos que vamos a completar a continuación.

### __Completar datos nulos__

###### *ID*

Primero, vamos a completar la columna de ID. Para ello, veremos qué valores contiene dicha columna.

In [631]:
id = consumo['ID']
id.drop_duplicates()

0        2258.0
2        2178.0
5        2096.0
8        1208.0
11       1526.0
          ...
5987     1931.0
6033      594.0
6040     1704.0
9529     2033.0
11672       NaN
Name: ID, Length: 130, dtype: float64

Existen filas que no tienen id entonces vamos a ver cuantas son:

In [633]:
# Para contar nulos en una Serie:
nulos = consumo['ID'].isnull().sum()
print(f"Cantidad de valores nulos: {nulos}")

Cantidad de valores nulos: 11363

Al ver que hay tantas que no tienen Id pero sí vana a tener valor para el futuro del proyecto, nos las eliminamos, sino que vamos a eliminar la columna.

In [635]:
columns_to_drop = ['ID']
consumo.drop(columns=columns_to_drop, inplace=True)

###### *CLASE*

En el contexto de un dataset de energías, la columna "Clase" parece clasificar los tipos de energía o recursos utilizados en el sistema. A continuación te explico cada término:

1. **Energía Activa**: Es la energía que realmente realiza el trabajo en el sistema, como mover máquinas, iluminar, calentar, etc. Es la energía útil que el sistema consume y se mide en kilovatios-hora (kWh). En instalaciones eléctricas, esta es la energía que realiza el trabajo directo.

2. **Energía Reactiva**: Esta es la energía que no realiza trabajo útil, pero es necesaria para crear y mantener los campos magnéticos en equipos como motores y transformadores. La energía reactiva no se puede convertir en trabajo útil y se mide en kilovoltamperios-reactivos-hora (kVArh). 

3. **Gas**: Representa el gas natural u otros gases utilizados como fuente de energía. A menudo se emplea en sistemas de calefacción, para generación de electricidad o en procesos industriales.

In [638]:
clase = consumo['CLASE']
clase.drop_duplicates()

0      Energía activa
1    Energía Reactiva
4                 Gas
Name: CLASE, dtype: object

###### *GRUPO*

In [640]:
grupo = consumo['GRUPO']
grupo.drop_duplicates()

0             Activa Interruptor Gral
1                Reactiva tarifa 3.1A
4                                 Gas
9                Reactiva tarifa 3.0A
14                            Ninguno
27         Activa Contador Gral - Bus
28               Reactiva tarifa 6.1A
81
861                               NaN
1270    Activa Interruptor Gral - Bus
Name: GRUPO, dtype: object

In [641]:
nulos2 = consumo['GRUPO'].isnull().sum()
print(f"Cantidad de valores nulos: {nulos2}")

Cantidad de valores nulos: 20047

In [642]:
columns_to_drop2 = ['GRUPO']

consumo.drop(columns=columns_to_drop2, inplace=True)

###### *CONSUMO*

In [644]:
consumo1 = consumo['CONSUMO']
consumo1.drop_duplicates()

0              13099
1                104
2               9688
3               4262
4                  0
            ...
23048    5974,660645
23049     10184,9873
23050    3756,825439
23051    1695,100098
23052    3151,596924
Name: CONSUMO, Length: 16616, dtype: object

In [645]:
filas_con_nulos_columna2 = consumo[consumo['CONSUMO'].isnull()].shape[0]

print(f"Número de filas con valores nulos en la columna 'Consumo': {filas_con_nulos_columna2}")

Número de filas con valores nulos en la columna 'Consumo': 19

Eliminamos las filas con valores nulos en la columna 'CONSUMO' de manera permanente.

In [647]:
consumo.dropna(subset=['CONSUMO'], inplace=True)
consumo

,AÑO,MES,TIPOEDIFICIO,EDIFICIO,DIRECCION,DISTRITO,CÓDIGO DISTRITO,BARRIO,CÓDIGO BARRIO,COORDENADA-X,COORDENADA-Y,LONGITUD,LATITUD,SENSOR,TIPO,CLASE,UNIDADES,CONSUMO
0,2020,3,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,11,SAN ISIDRO,113,"438873,92","4472154,36",-3.7202936410904,40.3977521494866,AMBIBAMMATUTE_General,Externo,Energía activa,kWh,13099
1,2020,3,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,11,SAN ISIDRO,113,"438873,92","4472154,36",-3.7202936410904,40.3977521494866,AMBIBAMMATUTE_General,Externo,Energía Reactiva,kvarh,104
2,2020,3,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Electricidad_General,Externo,Energía activa,kWh,9688
3,2020,3,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Electricidad_General,Externo,Energía Reactiva,kvarh,4262
4,2020,3,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,10,ALUCHE,104,"434962,85","4472100,21",-3.7663713097572,40.3969681670062,AMBIBAGONZALEZ_Gas_General,Externo,Gas,m3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23048,2024,10,Centros culturales y bibliotecas,Biblioteca Pablo Neruda,"CALLE ASCAO, 4 28017 MADRID",CIUDAD LINEAL,15,PUEBLO NUEVO,152,"445565,18",4475620,-3.641334923876934,40.42963395178173,[Biblioteca Pablo Neruda][0702] Consumo Biblio...,PROCESADO,Energía activa,kWh,"5974,660645"
23049,2024,10,Centros culturales y bibliotecas,CMM Orcasur,"AVENIDA ORCASUR, 60 28041 MADRID",USERA,12,ORCASUR,122,"440558,44","4468830,39",-3.69954710390932,40.368311695306396,[CMM Orcasur][1096] Electricidad General Conta...,PROCESADO,Energía activa,kWh,"10184,9873"
23050,2024,10,Centros culturales y bibliotecas,Biblioteca Gabriel García Márquez,"PLAZA PUEBLO, 2 (CENTRO CULTURAL ORCASUR) ...",USERA,12,ORCASUR,122,"440484,3","4468711,09",-3.7014543907797677,40.36697564023111,[Biblioteca Gabriel García Márquez][1095] Elec...,PROCESADO,Energía activa,kWh,"3756,825439"
23051,2024,10,Centros escolares,CEIP Ntra Sra de la Almudena,"CALLE LOPE DE RUEDA, 48, 28009 MADRID",RETIRO,3,IBIZA,34,"442741,9","4474561,6",-3.674934214335211,40.419712628103916,[CEIP Ntra Sra de la Almudena][0483] Electrici...,EXTERNO,Energía activa,kWh,"1695,100098"
23052,2024,10,Centros culturales y bibliotecas,CC El Torito,"AVENIDA MORATALAZ, 130 28030 MADRID",MORATALAZ,14,VINATEROS,146,"445135,88","4473047,36",-3.645480705416855,40.40627804229188,[CC El Torito][1017] Consumo total,PROCESADO,Energía activa,kWh,"3151,596924"

Ya tenemos todos las columnas sin valores nulos y hemos eliminado las que no son necesarias para el análisis.

In [649]:
consumo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23034 entries, 0 to 23052
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AÑO              23034 non-null  int64
 1   MES              23034 non-null  int64
 2   TIPOEDIFICIO     23034 non-null  object
 3   EDIFICIO         23034 non-null  object
 4   DIRECCION        23034 non-null  object
 5   DISTRITO         23034 non-null  object
 6   CÓDIGO DISTRITO  23034 non-null  object
 7   BARRIO           23034 non-null  object
 8   CÓDIGO BARRIO    23034 non-null  object
 9   COORDENADA-X     23034 non-null  object
 10  COORDENADA-Y     23034 non-null  object
 11  LONGITUD         23034 non-null  object
 12  LATITUD          23034 non-null  object
 13  SENSOR           23034 non-null  object
 14  TIPO             23034 non-null  object
 15  CLASE            23034 non-null  object
 16  UNIDADES         23034 non-null  object
 17  CONSUMO          23034 non-null  object
dtypes: int64(2), object(16)
memory usage: 3.3+ MB

Vamos a ver a continuación qué distritos tenemos en este dataset.

In [651]:
d = consumo['DISTRITO']
d.drop_duplicates()

0                  CARABANCHEL
2                       LATINA
5                       RETIRO
8            VILLA DE VALLECAS
11       SAN BLAS - CANILLEJAS
14               CIUDAD LINEAL
17                      CENTRO
19                   MORATALAZ
24                  ARGANZUELA
29       FUENCARRAL - EL PARDO
31                   VICALVARO
33                     BARAJAS
41          PUENTE DE VALLECAS
58                   HORTALEZA
68                       USERA
72                  VILLAVERDE
75                      TETUAN
95                    CHAMBERI
1776                 SALAMANCA
1958                 CHAMARTIN
2007         MONCLOA - ARAVACA
16359                     #N/D
Name: DISTRITO, dtype: object

Agrupamos los datos por la columna DISTRITO y cuenta las ocurrencias de las demás columnas de forma ascendente, así vemos de qué distrito hay más datos.

In [653]:
DISTRITO = consumo.groupby(['DISTRITO']).count()
conteo_dist = DISTRITO.sort_values(by=['EDIFICIO'], ascending=True)
conteo_dist

,AÑO,MES,TIPOEDIFICIO,EDIFICIO,DIRECCION,CÓDIGO DISTRITO,BARRIO,CÓDIGO BARRIO,COORDENADA-X,COORDENADA-Y,LONGITUD,LATITUD,SENSOR,TIPO,CLASE,UNIDADES,CONSUMO
DISTRITO,,,,,,,,,,,,,,,,,
#N/D,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SALAMANCA,558,558,558,558,558,558,558,558,558,558,558,558,558,558,558,558,558
CHAMBERI,586,586,586,586,586,586,586,586,586,586,586,586,586,586,586,586,586
TETUAN,673,673,673,673,673,673,673,673,673,673,673,673,673,673,673,673,673
BARAJAS,706,706,706,706,706,706,706,706,706,706,706,706,706,706,706,706,706
VILLA DE VALLECAS,735,735,735,735,735,735,735,735,735,735,735,735,735,735,735,735,735
MORATALAZ,790,790,790,790,790,790,790,790,790,790,790,790,790,790,790,790,790
VICALVARO,813,813,813,813,813,813,813,813,813,813,813,813,813,813,813,813,813
CHAMARTIN,869,869,869,869,869,869,869,869,869,869,869,869,869,869,869,869,869
SAN BLAS - CANILLEJAS,891,891,891,891,891,891,891,891,891,891,891,891,891,891,891,891,891
ARGANZUELA,923,923,923,923,923,923,923,923,923,923,923,923,923,923,923,923,923
HORTALEZA,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040
MONCLOA - ARAVACA,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066
FUENCARRAL - EL PARDO,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135,1135
CARABANCHEL,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158
PUENTE DE VALLECAS,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362
RETIRO,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412
CIUDAD LINEAL,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
USERA,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491
VILLAVERDE,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698,1698
LATINA,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722
CENTRO,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937

In [654]:
conteo = consumo.groupby('DISTRITO')['CÓDIGO DISTRITO'].count().reset_index()
conteo_DISTRIT = conteo.sort_values(by='CÓDIGO DISTRITO', ascending=False)
conteo_DISTRIT

                 DISTRITO  CÓDIGO DISTRITO
4                  CENTRO             1937
10                 LATINA             1722
21             VILLAVERDE             1698
18                  USERA             1491
7           CIUDAD LINEAL             1468
14                 RETIRO             1412
13     PUENTE DE VALLECAS             1362
3             CARABANCHEL             1158
8   FUENCARRAL - EL PARDO             1135
11      MONCLOA - ARAVACA             1066
9               HORTALEZA             1040
1              ARGANZUELA              923
16  SAN BLAS - CANILLEJAS              891
5               CHAMARTIN              869
19              VICALVARO              813
12              MORATALAZ              790
20      VILLA DE VALLECAS              735
2                 BARAJAS              706
17                 TETUAN              673
6                CHAMBERI              586
15              SALAMANCA              558
0                    #N/D                1

### EN CONCLUSIÓN, TENEMOS MÁS DATOS EN LOS DISTRITOS DE LATINA, CENTRO Y VILLAVERDE; Y EN EL QUE MENOS DATOS: SALAMANCA, CHAMBERÍ Y TETUÁN

Dividimos los edificios según su tipo.

In [657]:
TE = consumo['TIPOEDIFICIO']
TE.drop_duplicates()

0        Centros culturales y bibliotecas
35                         Centros mixtos
38                     Centros deportivos
92                      Centros escolares
136               Centros administrativos
1742                     Centros sociales
1967              Seguridad y emergencias
2220                   Otras dependencias
9752                                Salud
15730                      Centros Mixtos
16359                                #N/D
Name: TIPOEDIFICIO, dtype: object

Antes de nada, pasamos la columna Consumo a floatpara poder manejarla mejor y hacer estadísticos básicos.

In [659]:
print(consumo['CONSUMO'].dtype)

object

Identificamos datos no numéricos del dataset principal.

In [661]:
# Identificar datos no numéricos
no_numericos = consumo[~consumo['CONSUMO'].apply(lambda x: pd.to_numeric(x, errors='coerce')).notnull()]
print(no_numericos['CONSUMO'].unique())

['1266,7' '1376,2' '5,7' ... '3756,825439' '1695,100098' '3151,596924']

Convertimos la columna Consumo en numérica

In [663]:
consumo['CONSUMO'] = pd.to_numeric(consumo['CONSUMO'], errors='coerce')

In [664]:
consumo['CONSUMO'].dtype

dtype('float64')

Manejamos los valores no válidos sustituyéndolos por un valor numérico.

In [666]:
consumo['CONSUMO'].fillna(0, inplace=True)

C:\Users\Cristina\AppData\Local\Temp\ipykernel_5680\1690152274.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  consumo['CONSUMO'].fillna(0, inplace=True)

In [667]:
consumo_por_distrito = consumo.groupby('DISTRITO')['CONSUMO'].mean().reset_index()
consumo_ordenado = consumo_por_distrito.sort_values(by='CONSUMO', ascending=True)
consumo_ordenado

                 DISTRITO       CONSUMO
0                    #N/D      0.000000
6                CHAMBERI    733.549488
5               CHAMARTIN    753.319908
11      MONCLOA - ARAVACA   1102.058161
21             VILLAVERDE   1430.048881
15              SALAMANCA   1487.639785
3             CARABANCHEL   1497.265112
18                  USERA   1871.676727
13     PUENTE DE VALLECAS   2061.306167
10                 LATINA   2123.580139
2                 BARAJAS   2299.184136
17                 TETUAN   2703.194651
19              VICALVARO   2863.110701
9               HORTALEZA   2894.546154
7           CIUDAD LINEAL   3114.070845
20      VILLA DE VALLECAS   3173.053061
1              ARGANZUELA   4644.444204
12              MORATALAZ   6623.315190
16  SAN BLAS - CANILLEJAS   6649.953984
4                  CENTRO   8812.803304
8   FUENCARRAL - EL PARDO  11301.591189
14                 RETIRO  19155.548867

### ENCONTRAMOS EL CONSUMO MEDIO DE CADA TIPO DE EDIFCIO, SIENDO LOS CENTROS MIXTOS Y DEPORTIVOS UNOS DE LOS QUE MÁS CONSUMEN.

In [669]:
consumo_edificio = consumo.groupby(['TIPOEDIFICIO'])['CONSUMO'].mean().reset_index()
consumo_orden = consumo_edificio.sort_values(by='CONSUMO', ascending=True)
consumo_orden

                        TIPOEDIFICIO       CONSUMO
0                               #N/D      0.000000
1                     Centros Mixtos      0.000000
10           Seguridad y emergencias    214.516908
9                              Salud    229.788820
5                  Centros escolares    395.623343
8                 Otras dependencias    412.968254
7                   Centros sociales   1655.680710
3   Centros culturales y bibliotecas   2869.141026
2            Centros administrativos   5445.376397
4                 Centros deportivos   5511.806781
6                     Centros mixtos  19518.914932

Vamos a saber cuantos edificios hay de cada tipo.

In [671]:
conteo2 = consumo.groupby('TIPOEDIFICIO')['CÓDIGO DISTRITO'].count().reset_index()
conteo_DISTRIT2 = conteo2.sort_values(by='CÓDIGO DISTRITO', ascending=False)
conteo_DISTRIT2

                        TIPOEDIFICIO  CÓDIGO DISTRITO
3   Centros culturales y bibliotecas             7254
4                 Centros deportivos             6459
5                  Centros escolares             3470
2            Centros administrativos             2237
6                     Centros mixtos             1681
7                   Centros sociales              902
8                 Otras dependencias              441
10           Seguridad y emergencias              414
9                              Salud              161
1                     Centros Mixtos               14
0                               #N/D                1

Este código calcula la moda de la columna DISTRITO para cada grupo de la columna EDIFICIO, para saber en qué distritos solemos encontrar ese tipo de edificio.

In [673]:
moda_por_grupo = consumo.groupby(['TIPOEDIFICIO'])['DISTRITO'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
moda_por_grupo

TIPOEDIFICIO
#N/D                                                 #N/D
Centros Mixtos                                  MORATALAZ
Centros administrativos                            CENTRO
Centros culturales y bibliotecas                   CENTRO
Centros deportivos                             VILLAVERDE
Centros escolares                                  CENTRO
Centros mixtos                      FUENCARRAL - EL PARDO
Centros sociales                                  BARAJAS
Otras dependencias                      MONCLOA - ARAVACA
Salud                                   MONCLOA - ARAVACA
Seguridad y emergencias                 MONCLOA - ARAVACA
Name: DISTRITO, dtype: object

### CONCLUSIÓN: DE LOS TIPOS DE EDIFICIOS QUE MAS HAY, SUELEN ESTAR UBICADOS EN EL DISTRITO DEL CENTRO Y, EN EL CASO DE LOS CENTROS DEPORTIVOS, EN VILLAVERDE

Empezamos calculando el consumo total de energía por grupo y distrito.

In [676]:
d = consumo['CONSUMO']
d.drop_duplicates()

0        13099.0
1          104.0
2         9688.0
3         4262.0
4            0.0
          ...
22950      692.0
22954      767.0
22986      150.0
23003    38792.0
23016     3045.0
Name: CONSUMO, Length: 4438, dtype: float64

### A continuación podemos ver el consumo total por distrito, siendo el Retiro y el Centro donde más energía se consume.

In [678]:
consumo_por_grupo = consumo.groupby(['DISTRITO'])['CONSUMO'].sum().reset_index()
consumo_por_grupo = consumo_por_grupo.sort_values(by='CONSUMO', ascending=True)
consumo_por_grupo

                 DISTRITO     CONSUMO
0                    #N/D         0.0
6                CHAMBERI    429860.0
5               CHAMARTIN    654635.0
15              SALAMANCA    830103.0
11      MONCLOA - ARAVACA   1174794.0
2                 BARAJAS   1623224.0
3             CARABANCHEL   1733833.0
17                 TETUAN   1819250.0
19              VICALVARO   2327709.0
20      VILLA DE VALLECAS   2332194.0
21             VILLAVERDE   2428223.0
18                  USERA   2790670.0
13     PUENTE DE VALLECAS   2807499.0
9               HORTALEZA   3010328.0
10                 LATINA   3656805.0
1              ARGANZUELA   4286822.0
7           CIUDAD LINEAL   4571456.0
12              MORATALAZ   5232419.0
16  SAN BLAS - CANILLEJAS   5925109.0
8   FUENCARRAL - EL PARDO  12827306.0
4                  CENTRO  17070400.0
14                 RETIRO  27047635.0

In [679]:
# Filtrar los datos que corresponden al distrito "Retiro"
retiro_datos = consumo[consumo['DISTRITO'] == 'RETIRO']
centro_datos = consumo[consumo['DISTRITO'] == 'CENTRO']
moncloa_datos = consumo[consumo['DISTRITO'] == 'MONCLOA - ARAVACA']

# Contar el número de filas (datos) en ese distrito
numero_datos_retiro = retiro_datos.shape[0]
numero_datos_centro = centro_datos.shape[0]
numero_datos_moncloa = moncloa_datos.shape[0]

print(f"El número de datos en el distrito 'Retiro' es: {numero_datos_retiro}")
print(f"El número de datos en el distrito 'Centro' es: {numero_datos_centro}")
print(f"El número de datos en el distrito 'Moncloa' es: {numero_datos_moncloa}")

El número de datos en el distrito 'Retiro' es: 1412
El número de datos en el distrito 'Centro' es: 1937
El número de datos en el distrito 'Moncloa' es: 1066

### VAMOS A CENTRARNOS EN EL DISTRITO DEL RETIRO Y DEL CENTRO

Calculamos el consumo total por edificio en el Retiro.

In [682]:
consumo_retiro = retiro_datos.groupby('EDIFICIO')['CONSUMO'].sum().reset_index()
consumo_retiro

                                 EDIFICIO     CONSUMO
0           Apartamentos Tutelados Retiro     50101.0
1                Biblioteca Eugenio Trías   1009369.0
2                        CC Casa de Vacas     38219.0
3                      CC Las Californias    125155.0
4                     CC Mercado de Ibiza     12010.0
5                     CDM Daoíz y Velarde    523252.0
6                     CEIP Ciudad de Roma     10666.0
7                   CEIP Escuelas Aguirre     48378.0
8                  CEIP José Calvo Sotelo     17856.0
9            CEIP Ntra Sra de la Almudena      3143.0
10                       CEIP San Isidoro      4671.0
11  CMM La Estrella - Carmen Martín Gaite     11876.0
12                             JMD Retiro   1187487.0
13                        Palacio Cibeles  24004702.0
14                      Sede Madrid Salud         0.0
15           Vivero de Estufas del Retiro       750.0

Obtener las coordenadas de los edificios en Retiro.

In [684]:
coordenadas_retiro = retiro_datos[['EDIFICIO', 'LATITUD', 'LONGITUD']].dropna()
coordenadas_retiro_unicas = coordenadas_retiro.drop_duplicates(subset=['LATITUD', 'LONGITUD'])
coordenadas_retiro_unicas

,EDIFICIO,LATITUD,LONGITUD
5,Biblioteca Eugenio Trías,40.41678861549688,-3.6796432754374946
141,Palacio Cibeles,40.4187965631925,-3.6919909715652
1742,Apartamentos Tutelados Retiro,40.41481944595919,-3.667718515921123
1879,CEIP Ciudad de Roma,40.415548981553435,-3.6649200299875795
1887,CEIP Escuelas Aguirre,40.4144917901955,-3.67465694323403
1894,CEIP José Calvo Sotelo,40.40111204454797,-3.6723618998787435
2047,CC Mercado de Ibiza,40.41825794820068,-3.67667935697656
2089,CDM Daoíz y Velarde,40.401630486360204,-3.67746528950444
2260,JMD Retiro,40.40260433216089,-3.6767484416364744
3173,CEIP San Isidoro,40.40679188136205,-3.6812457537336245
5722,CC Las Californias,40.3972017655311,-3.6732178660858015
5940,CMM La Estrella - Carmen Martín Gaite,40.41388273012112,-3.6645281903048983
9423,CC Casa de Vacas,40.41928648936615,-3.6839280376921177
9922,Sede Madrid Salud,40.406428313755335,-3.6641000254946223
9926,Vivero de Estufas del Retiro,40.410047717357074,-3.681930989280856
17588,CEIP Ntra Sra de la Almudena,40.419712628103916,-3.674934214335211

Contar el número de sensores disponibles en Retiro.

In [686]:
sensores_retiro = retiro_datos['SENSOR'].value_counts().reset_index()
sensores_retiro.columns = ['SENSOR', 'COUNT']
print(sensores_retiro)

                                               SENSOR  COUNT
0                    AMBIBETRIAS_Electricidad_General     66
1                                     acciona_cibeles     43
2               AMCEIPESCAGUIRRE_Electricidad_General     42
3             AMCEIPJCALVOSOTELO_Electricidad_General     42
4          AMAPARTUTELADOSRETIRO_Electricidad_General     42
5                  AMCEIPCDEROMA_Electricidad_General     42
6                    AMCDMDAOIZYVELARDE_CGBT_IGeneral     40
7               AMCCMERCADOIBIZA_Electricidad_General     40
8                AMCEIPSANISIDRO_Electricidad_General     34
9                             AMBIBETRIAS_Gas_General     33
10                [Palacio Cibeles][1131] Gas General     23
11               [CEIP San Isidoro][0417] Gas General     23
12  [CEIP Ciudad de Roma][0750] Electricidad Gener...     23
13  [CEIP Ciudad de Roma][0750] [B] Electricidad G...     23
14  [CEIP Escuelas Aguirre][0097] Electricidad Gen...     23
15  [CEIP Escuelas Aguirre][0097] [B] Electricidad...     23
16  [CEIP Jose Calvo Sotelo][0124] Electricidad Ge...     23
17  [CEIP Jose Calvo Sotelo][0124] [B] Electricida...     23
18  [CEIP San Isidoro][0417] Electricidad General ...     23
19  [CEIP San Isidoro][0417] [B] Electricidad Gene...     23
20  [CMM La Estrella - Carmen Martín Gaite][2391] ...     23
21  [Sede de Madrid Salud][1394] Electricidad Gene...     23
22  [CMM La Estrella - Carmen Martín Gaite][2391] ...     23
23                [JMD Retiro][1547][Contador] Activa     23
24              [JMD Retiro][1547][Contador] Reactiva     23
25  [CDM Daoiz y Velarde][1448] [B] Electricidad G...     23
26                     [JMD Retiro][1547] Gas General     23
27        [Palacio Cibeles][1131][Contador TL] Activa     23
28  [Palacio Cibeles][1131][Contador TL] [B] Reactiva     23
29                     [Palacio Cibeles][1131] Gas #2     23
30  [Sede de Madrid Salud][1394] [B] Electricidad ...     23
31            [CDM Daoiz y Velarde][1548] Gas General     23
32  [CC Mercado de Ibiza][1151] Electricidad Gener...     23
33  [CDM Daoiz y Velarde][1448] Electricidad Gener...     23
34  [CC Mercado de Ibiza][1151] [B] Electricidad G...     23
35             [CC Las Californias][1777] Gas General     23
36  [CC Las Californias][1777] [B] Electricidad Ge...     23
37  [CC Las Californias][1777] Electricidad Genera...     23
38             [CC Casa de Vacas][0789] Consumo total     23
39       [Biblioteca Eugenio Trías][2096] Gas General     23
40  [Biblioteca Eugenio Trías][2096] [B] Electrici...     23
41  [Biblioteca Eugenio Trías][2096] Electricidad ...     23
42  [Apartamentos tutelados Retiro][1745] [B] Elec...     23
43  [Apartamentos tutelados Retiro][1745] Electric...     23
44  AMJMRETIRO_CClima_EViejo_Enfriadora1+AMJMRETIR...     20
45                                    AMCIBELES_Gas_2     20
46                      Electricidad General (Activa)     18
47                    Electricidad General (Reactiva)     18
48                                        Gas General     18
49                        AMCEIPSANISIDRO_Gas_General     17
50  [Vivero de Estufas del Retiro][2361] Electrici...     13
51  [Vivero de Estufas del Retiro][2361] [B] Elect...     13
52                             AMJMRETIRO_Gas_General     11
53                     AMCDMDAOIZYVELARDE_Gas_General     11
54                                   Contador general     10
55  [Vivero de Estufas del Retiro][XXXX] Electrici...     10
56  [Vivero de Estufas del Retiro][XXXX] [B] Elect...     10
57  [CEIP Ntra Sra de la Almudena][0483] Electrici...     10
58  AMCIBELES_Trafo_1 + AMCIBELES_Trafo_2 + AMCIBE...      6
59                 AMCIBELES_Procesado_Energia_Activa      1

In [687]:
consumo_centro = centro_datos.groupby('EDIFICIO')['CONSUMO'].sum().reset_index()
consumo_centro

                                             EDIFICIO    CONSUMO
0                           Biblioteca Iván de Vargas   267538.0
1                       Biblioteca Mario Vargas Llosa   590640.0
2                                      CC Conde Duque  9564634.0
3                                         CC Lavapiés       16.0
4                          CEIP Ntra Sra de la Paloma    19562.0
5                                   CEIP Pi i Margall    14943.0
6                       CEIP Residencia San Ildefonso   242737.0
7                               CEIP Vázquez de Mella     1326.0
8                Casa Consistorial - Casa de la Villa    82787.0
9                     Centro de Mayores San Francisco   119185.0
10                                   Complejo Barceló        0.0
11                                       EI Osa Menor     2492.0
12                                         JMD Centro  1273643.0
13                           Museo Imprenta Municipal    31472.0
14                                  Museo de Historia   106543.0
15                               Parque de Bomberos 6        0.0
16                                   Sede AG Hacienda  4695620.0
17  Sede AG Hacienda y Personal - Tesoreria del Ay...    57262.0

Obtener las coordenadas de los edificios en el Centro.

In [689]:
coordenadas_centro = centro_datos[['EDIFICIO', 'LATITUD', 'LONGITUD']].dropna()
coordenadas_centro_unica = coordenadas_centro.drop_duplicates(subset=['LATITUD', 'LONGITUD'])
coordenadas_centro_unica

,EDIFICIO,LATITUD,LONGITUD
17,Biblioteca Mario Vargas Llosa,40.42683538680111,-3.6990826662067344
27,CC Conde Duque,40.4272912991656,-3.710680603981
107,CEIP Ntra Sra de la Paloma,40.411427160112815,-3.7106372993064745
113,CEIP Pi i Margall,40.4268327144929,-3.7046107649803
122,CEIP Residencia San Ildefonso,40.4129348523462,-3.71212631464
125,CEIP Vázquez de Mella,40.4121016245246,-3.7140360474586
128,Centro de Mayores San Francisco,40.4111186882429,-3.714990913868
136,JMD Centro,40.4155572059031,-3.7107369303703
142,Sede AG Hacienda,40.419308936692836,-3.695760433679633
1757,Biblioteca Iván de Vargas,40.41417035961479,-3.7096042005805345
2275,Museo de Historia,40.42582431585514,-3.7007090795268223
5724,CC Lavapiés,40.40983712884801,-3.700694040366881
9895,Museo Imprenta Municipal,40.414093228667255,-3.7048392009301683
15723,Casa Consistorial - Casa de la Villa,40.41534777407429,-3.7102715476550383
15746,Parque de Bomberos 6,40.42690432263463,-3.705911901018462
15748,Sede AG Hacienda y Personal - Tesoreria del Ay...,40.42246687641081,-3.693912659698961
15755,EI Osa Menor,40.428004213037575,-3.698748428534089
23037,Complejo Barceló,0,0

Contar el número de sensores disponibles en Centro.

In [691]:
sensores_centro = centro_datos['SENSOR'].value_counts().reset_index()
sensores_centro.columns = ['SENSOR', 'COUNT']
sensores_centro

                                               SENSOR  COUNT
0                              acciona_sedeaghacienda     66
1                       CEIPVazquezmella_Electricidad     66
2                     AMCPPALOMA_Electricidad_General     66
3                                  acciona_condeduque     66
4                         CEIPPiiMargall_Electricidad     66
..                                                ...    ...
71  [Sede AG Hacienda y Personal - Tesoreria del A...      5
72  [Sede AG Hacienda y Personal - Tesoreria del A...      5
73                                           jdc_0772      4
74             JuntaDistritoCentroSotano_Electricidad      4
75  [Biblioteca Mario Vargas Llosa][0941] Gas General      1

[76 rows x 2 columns]

----------------------

In [693]:
T = consumo['TIPO']
T.drop_duplicates()

0          Externo
14       Procesado
27      telemedida
9357       EXTERNO
9371     PROCESADO
Name: TIPO, dtype: object

In [694]:
conteo = consumo.groupby('TIPO')['CÓDIGO DISTRITO'].count().reset_index()
conteo_DISTRIT = conteo.sort_values(by='CÓDIGO DISTRITO', ascending=False)
conteo_DISTRIT

         TIPO  CÓDIGO DISTRITO
0     EXTERNO            13178
1     Externo             8311
3   Procesado              590
2   PROCESADO              518
4  telemedida              437

In [695]:
# Guardar el DataFrame limpio en un nuevo archivo CSV
consumo.to_csv('consumo_energia.csv', index=False, encoding='utf-8')

------------------

# sin probar

Paso 3: Comparación directa entre edificios

Puedes dividir los edificios en grupos basados en hipótesis, como:

Edificios con bajo consumo energético.

Edificios con consumo promedio o alto

In [699]:
# Dividir edificios en dos grupos basados en consumo
umbral_consumo = consumo['CONSUMO'].median()  # Mediana como referencia
bajo_consumo = consumo[consumo['CONSUMO'] <= umbral_consumo]
alto_consumo = consumo[consumo['CONSUMO'] > umbral_consumo]

# Comparar consumos totales y promedios entre grupos
print("Consumo promedio edificios de bajo consumo:", bajo_consumo['CONSUMO'].mean())
print("Consumo promedio edificios de alto consumo:", alto_consumo['CONSUMO'].mean())

Consumo promedio edificios de bajo consumo: -8.049446494464945
Consumo promedio edificios de alto consumo: 19324.979701051856

Paso 4: Generar un modelo predictivo para clasificar edificios
Puedes entrenar un modelo para intentar predecir qué edificios podrían tener placas solares basándote en características como:

Consumo energético.
Localización (distritos más propensos a implementar energías renovables).
Tipo de edificio.

In [701]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Crear una etiqueta ficticia (bajo consumo = probable placas solares)
consumo['Probable Placas'] = (consumo['CONSUMO'] <= umbral_consumo).astype(int)

# Variables independientes
X = consumo[['TAMAÑO_EDIFICIO', 'DISTRITO']]  # Agrega variables relevantes
X = pd.get_dummies(X, drop_first=True)  # Codificar variables categóricas
y = consumo['Probable Placas']  # Etiqueta objetivo

# Dividir datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Entrenar el modelo
modelo = RandomForestClassifier(random_state=42)
modelo.fit(X_train, y_train)

# Evaluar el modelo
print("Precisión del modelo:", modelo.score(X_test, y_test))

KeyError: "['TAMAÑO_EDIFICIO'] not in index"

Paso 5: Visualización de resultados
Usa gráficos para mostrar insights significativos:

Diferencias de consumo por grupo:

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(data=consumo, x='Probable Placas', y='CONSUMO', hue='DISTRITO')
plt.title('Consumo por Grupo y Distrito')
plt.show()

Impacto potencial de placas solares: Si puedes estimar la generación solar en edificios sin placas, calcula el ahorro potencial energético y su impacto.

Identifica edificios con alto consumo que serían buenos candidatos para instalar placas solares.
Calcula el ahorro potencial si se implementaran placas solares en esos edificios.

--------------------------------