# __Consumo de energía en edificios de la Comunidad de Madrid e instalaciones fotovoltaicas__

##### _Grupo Erasmus_

In [1]:
import pandas as pd
energia = pd.read_csv('energia_solar_madrid_definitivo.csv', encoding='utf-8', sep=',')

In [2]:
energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23654 entries, 0 to 23653
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo del edificio    23654 non-null  object
 1   edificio             23654 non-null  object
 2   dirección            23654 non-null  object
 3   distrito             23654 non-null  object
 4   clase                23654 non-null  object
 5   unidades             23654 non-null  object
 6   consumo              23034 non-null  float64
 7   puesta en servicio   23654 non-null  object
 8   potencia kwp         620 non-null    float64
 9   empresa instaladora  23654 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.8+ MB

In [3]:
energia

,tipo del edificio,edificio,dirección,distrito,clase,unidades,consumo,puesta en servicio,potencia kwp,empresa instaladora
0,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,Energía activa,kWh,13099.0,2020-03-01,NaN,empresa desconocida
1,Centros culturales y bibliotecas,Biblioteca Ana María Matute,"CALLE ISAAC ALBENIZ, 1 28019 MADRID",CARABANCHEL,Energía Reactiva,kvarh,104.0,2020-03-01,NaN,empresa desconocida
2,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,Energía activa,kWh,9688.0,2020-03-01,NaN,empresa desconocida
3,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,Energía Reactiva,kvarh,4262.0,2020-03-01,NaN,empresa desconocida
4,Centros culturales y bibliotecas,Biblioteca Ángel González,"CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID",LATINA,Gas,m3,0.0,2020-03-01,NaN,empresa desconocida
...,...,...,...,...,...,...,...,...,...,...
23649,medioambiental,CENTRO MUNICIPAL DE RECOGIDAS TRECE ROSAS,"AVENIDA DE LAS TRECE ROSAS, 5, 28017 MADRID",CIUDAD LINEAL,Energía renovable,kWh,NaN,2024-07-01,10.0,Empresa desconocida
23650,deportivo,CDM EL QUIJOTE,"CALLE NUMANCIA,2",MONCLOA - ARAVACA,Energía renovable,kWh,NaN,2024-09-12,20.0,Empresa desconocida
23651,deportivo,CDM MOSCARDO,CALLE PILAR DE ZARAGOZA 93,SALAMANCA,Energía renovable,kWh,NaN,2024-09-11,10.0,Empresa desconocida
23652,seguridad,CID VILLA DE VALLECAS / OAC,CALLE REAL DE ARGANDA 64,VILLA DE VALLECAS,Energía renovable,kWh,NaN,2024-09-11,10.0,Empresa desconocida
23653,seguridad,ALMACEN BOMBEROS VILLA DE VALLECAS,CALLE EL REAL DE SAN VICENTE 61,VILLA DE VALLECAS,Energía renovable,kWh,NaN,2024-04-03,33.0,Empresa desconocida

Creamos columnas nuevas de año y mes para posteriormente introducir el precio de la luz por meses y años.

In [6]:
# Asegurarnos de que la columna 'puesta_en_servicio' está en formato datetime
energia['puesta en servicio'] = pd.to_datetime(energia['puesta en servicio'], errors='coerce')

# Crear columnas separadas para el año y el mes
energia['agno'] = energia['puesta en servicio'].dt.year
energia['mes'] = energia['puesta en servicio'].dt.month

In [10]:
energia.columns

Index(['tipo del edificio', 'edificio', 'dirección', 'distrito', 'clase',
       'unidades', 'consumo', 'puesta en servicio', 'potencia kwp',
       'empresa instaladora', 'agno', 'mes'],
      dtype='object')

A continuación, utilizamos una función para normalizar  los datos de la columna distrito ya que cada entrada presenta un formato distinto.

In [13]:
import unicodedata

def normalizar_distrito(distrito):
    # Eliminar espacios extra al principio y al final
    distrito = distrito.strip()

    # Convertir todo a minúsculas
    distrito = distrito.lower()
    
    # Reemplazar guiones por espacios (si es necesario)
    distrito = distrito.replace('-', ' ')
    
    # Eliminar caracteres especiales (como \xad o \x) y normalizar caracteres
    distrito = ''.join(c for c in distrito if c.isalnum() or c.isspace())
    
    # Eliminar caracteres no alfanuméricos adicionales si es necesario (por ejemplo, tildes)
    distrito = unicodedata.normalize('NFD', distrito)
    distrito = ''.join([c for c in distrito if unicodedata.category(c) != 'Mn'])  # Quitar acentos
    
    return distrito

# Aplicar la función de normalización a la columna 'distrito'
energia['distrito'] = energia['distrito'].apply(normalizar_distrito)

# Eliminar los espacios extra entre las palabras (reemplazar múltiples espacios por uno solo)
energia['distrito'] = energia['distrito'].str.replace(r'\s+', ' ', regex=True)


# Ver los distritos únicos después de normalizarlos
distritos_unicos = energia['distrito'].unique()
distritos_unicos

array(['carabanchel', 'latina', 'retiro', 'villa de vallecas',
       'san blas canillejas', 'ciudad lineal', 'centro', 'moratalaz',
       'arganzuela', 'fuencarral el pardo', 'vicalvaro', 'barajas',
       'puente de vallecas', 'hortaleza', 'usera', 'villaverde', 'tetuan',
       'chamberi', 'salamanca', 'chamartin', 'moncloa aravaca', 'nd',
       'chambera', 'chamartan'], dtype=object)

In [14]:
energia['distrito'] = energia['distrito'].replace({'chamartan': 'chamartin', 'chambera': 'chamberi'})

In [17]:
energia.columns

Index(['tipo del edificio', 'edificio', 'dirección', 'distrito', 'clase',
       'unidades', 'consumo', 'puesta en servicio', 'potencia kwp',
       'empresa instaladora', 'agno', 'mes'],
      dtype='object')

Extraer todas las entradas únicas de la columna especificada.

In [20]:
tipos_de_edificio = energia['tipo del edificio'].dropna().unique()
tipos_de_edificio

array(['Centros culturales y bibliotecas', 'Centros mixtos',
       'Centros deportivos', 'Centros escolares',
       'Centros administrativos', 'Centros sociales',
       'Seguridad y emergencias', 'Otras dependencias', 'Salud',
       'Centros Mixtos', '#N/D', 'cultural', 'administrativo',
       'medioambiental', 'almacén', 'sanitario', 'seguridad', 'social',
       'educativo', 'deportivo', 'mixto', 'cultural, social', ' social ',
       ' deportivo ', ' seguridad ', 'almacÃ©n', 'deportivo ',
       'industrial'], dtype=object)

Cambiamos los nombres a las entradas de la columna de tipo del edificio.

In [23]:
energia['tipo del edificio'] = energia['tipo del edificio'].replace({'Centros culturales y bibliotecas': 'cultural', 'Centros mixtos': 'mixto', 'Centros deportivos': 'deportivo', 'Centros escolares': 'educativo', 'Centros administrativos': 'administrativo', 'Centros sociales': 'social', 'Seguridad y emergencias': 'seguridad', 'Salud': 'sanitario', 'Centros Mixtos': 'mixto', 'almacÃ©n':'almacén'})

In [25]:
# Elimina espacios adicionales alrededor de las entradas en la columna 'tipo de edificio'
energia['tipo del edificio'] = energia['tipo del edificio'].apply(lambda x: x.strip() if isinstance(x, str) else x)
print(energia['tipo del edificio'].unique())

['cultural' 'mixto' 'deportivo' 'educativo' 'administrativo' 'social'
 'seguridad' 'Otras dependencias' 'sanitario' '#N/D' 'medioambiental'
 'almacén' 'cultural, social' 'industrial']

In [27]:
energia['empresa instaladora'].unique()

array(['empresa desconocida', 'ORTIZ', 'FULTON', 'Empresa desconocida',
       'AURA', 'SAVEFFI', 'POWEN', 'FERROVIAL', 'IMESAPI', 'EULEN',
       'DRAGADOS', 'PECSA', 'ORTHEM', 'CONDISA', 'CYOPSA', 'OHL',
       'ELECTOSA ', 'UGARTE', 'ACCIONA', 'ETRALUX',
       'AVELSA (Avance Electrico S.L) ', 'Ortiz', 'CONDISA (grupo Ortiz)',
       'ACCIONA FACILITY SERVICES',
       'EXTRACO CONSTRUCCIONS E PROXECTOS SA (subontrata Servipack Mantenimientos Industriales)',
       'No conocen cual es la instaladora( podrÃ\xada ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)',
       'INGEDOM, S.L.',
       'No conocen cual es la instaladora( podría ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)',
       'HERRERA Y LOBATOS.L.'], dtype=object)

In [29]:
print(energia['empresa instaladora'].value_counts())

empresa instaladora
empresa desconocida                                                                                                 23034
Empresa desconocida                                                                                                   175
AURA                                                                                                                   98
PECSA                                                                                                                  71
FERROVIAL                                                                                                              48
DRAGADOS                                                                                                               40
ACCIONA                                                                                                                21
OHL                                                                                                                    20
EULEN                                                                                                                  20
SAVEFFI                                                                                                                19
ORTIZ                                                                                                                  17
ACCIONA FACILITY SERVICES                                                                                              17
CYOPSA                                                                                                                 10
IMESAPI                                                                                                                10
CONDISA                                                                                                                 5
ORTHEM                                                                                                                  5
ELECTOSA                                                                                                                5
UGARTE                                                                                                                  5
POWEN                                                                                                                   5
FULTON                                                                                                                  5
ETRALUX                                                                                                                 4
AVELSA (Avance Electrico S.L)                                                                                           4
Ortiz                                                                                                                   4
CONDISA (grupo Ortiz)                                                                                                   4
EXTRACO CONSTRUCCIONS E PROXECTOS SA (subontrata Servipack Mantenimientos Industriales)                                 3
INGEDOM, S.L.                                                                                                           2
No conocen cual es la instaladora( podrÃ­a ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)        1
No conocen cual es la instaladora( podría ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)         1
HERRERA Y LOBATOS.L.                                                                                                    1
Name: count, dtype: int64

In [31]:
energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23654 entries, 0 to 23653
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo del edificio    23654 non-null  object
 1   edificio             23654 non-null  object
 2   dirección            23654 non-null  object
 3   distrito             23654 non-null  object
 4   clase                23654 non-null  object
 5   unidades             23654 non-null  object
 6   consumo              23034 non-null  float64
 7   puesta en servicio   23654 non-null  datetime64[ns]
 8   potencia kwp         620 non-null    float64
 9   empresa instaladora  23654 non-null  object
 10  agno                 23654 non-null  int32
 11  mes                  23654 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), object(7)
memory usage: 2.0+ MB

In [33]:
#energia.to_csv('energia_solar_madrid_definitivo_modificado.csv', index=False)

Longitud de las filas

In [36]:
longitudes_filas = energia.apply(lambda row: len(row), axis=1)
print("Longitudes de las filas:")
print(longitudes_filas.value_counts())  # Esto muestra cuántas filas tienen cada longitud

Longitudes de las filas:
12    23654
Name: count, dtype: int64

Mostramos todos valores únicos de cada columna

In [39]:
print("Valores únicos de 'tipo del edificio':")
print(energia['tipo del edificio'].unique())
print("\n")

print("Valores únicos de 'edificio':")
print(energia['edificio'].unique())
print("\n")

print("Valores únicos de 'dirección':")
print(energia['dirección'].unique())
print("\n")

print("Valores únicos de 'distrito':")
print(energia['distrito'].unique())
print("\n")

print("Valores únicos de 'clase':")
print(energia['clase'].unique())
print("\n")

print("Valores únicos de 'unidades':")
print(energia['unidades'].unique())
print("\n")

print("Valores únicos de 'consumo':")
print(energia['consumo'].unique())
print("\n")

print("Valores únicos de 'puesta en servicio':")
print(energia['puesta en servicio'].unique())
print("\n")

print("Valores únicos de 'potencia kwp':")
print(energia['potencia kwp'].unique())
print("\n")

print("Valores únicos de 'empresa instaladora':")
print(energia['empresa instaladora'].unique())
print("\n")

Valores únicos de 'tipo del edificio':
['cultural' 'mixto' 'deportivo' 'educativo' 'administrativo' 'social'
 'seguridad' 'Otras dependencias' 'sanitario' '#N/D' 'medioambiental'
 'almacén' 'cultural, social' 'industrial']


Valores únicos de 'edificio':
['Biblioteca Ana María Matute' 'Biblioteca Ángel González'
 'Biblioteca Eugenio Trías' 'Biblioteca Gerardo Diego'
 'Biblioteca José Hierro' 'Biblioteca La Elipa - Islas Filipinas'
 'Biblioteca Mario Vargas Llosa' 'Biblioteca Miguel Delibes'
 'Biblioteca Pablo Neruda' 'Biblioteca Pío Baroja' 'CC Conde Duque'
 'CC La Vaguada' 'CC Valdebernardo y Biblioteca Francisco Ayala'
 'CC/BPM Gloria Fuertes' 'CDI Arganzuela' 'CDM Aluche'
 'CDM Ángel Nieto - Puente de Vallecas' 'CDM Barajas'
 'CDM Cerro Almodóvar' 'CDM Concepción'
 'CDM Faustina Valladolid - Valdebernardo' 'CDM Gallur' 'CDM Hortaleza'
 'CDM La Elipa' 'CDM La Masó' 'CDM Luis Aragonés' 'CDM Orcasitas'
 'CDM Plata y Castañar' 'CDM Playa Victoria' 'CDM Pueblo Nuevo'
 'CDM Samaranch' 'CDM San Blas' 'CDM San Juan Bautista'
 'CDM Vicente del Bosque' 'CDM Wilfred Agbonavbare - Alberto García'
 'CEIP Bolivia' 'CEIP Claudio Moyano' 'CEIP Concepción Arenal'
 'CEIP Isaac Peral' 'CEIP Madroño' 'CEIP Ntra Sra de la Paloma'
 'CEIP Ntra Sra Fuencisla' 'CEIP Pi i Margall' 'CEIP Pradolongo'
 'CEIP Puerto Rico' 'CEIP Residencia San Ildefonso'
 'CEIP Vázquez de Mella' 'Centro de Mayores San Francisco'
 'Complejo La Vaguada' 'Complejo Sanchinarro' 'JMD Centro'
 'JMD Fuencarral' 'Pabellón Jesús Rollán' 'Palacio Cibeles'
 'Sede AG Hacienda' 'CDI Arganzuela Mayores' 'CDM María Jesús Rosa'
 'Apartamentos Tutelados Retiro' 'Biblioteca Gabriel García Márquez'
 'Biblioteca Iván de Vargas' 'Biblioteca Manuel Vázquez Montalbán'
 'CC Bib Buena Vista' 'CC Bohemios'
 'CC Eduardo Úrculo & Biblioteca María Zambrano'
 'CC El Madroño + Bib. Vicálvaro' 'CC La Elipa y CSS Santa Felicidad'
 'CC Los Rosales' 'CC y CM San Juan Bautista' 'CDM El Espinillo'
 'CDM Félix Rubio' 'CDM Margot Molés - Vicálvaro' 'CEIP Ciudad de Roma'
 'CEIP Escuelas Aguirre' 'CEIP Fernando el Católico'
 'CEIP José Calvo Sotelo' 'CMM Acuario' 'CMM El Almendro' 'CMM Orcasur'
 'CMM Villa Vallecas' 'CMM y CSS Luis Vives' 'CSS Guindalera'
 'CSS José Villarreal' 'CSS Puerto de las Pilas' 'CSS San Filiberto'
 'JMD Ciudad Lineal' 'JMD Hortaleza' 'JMD Latina' 'JMD San Blas'
 'JMD Usera' 'JMD Villa de Vallecas' 'Madrid Emprende'
 'Planetario de Madrid' 'UID Villa de Vallecas' 'Biblioteca Dámaso Alonso'
 'Biblioteca La Chata' 'CC Agustín Díaz'
 'CC Alberto Sánchez+Biblioteca Portazgo' 'CC Alfredo Kraus'
 'CC Carril del Conde' 'CC Casa del Reloj' 'CC El Torito'
 'CC Fernando de los Ríos' 'CC Fernando de los Ríos Y Biblioteca Aluche'
 'CC Mercado de Ibiza' 'CC Meseta de Orcasitas'
 'CC Nicolás Salmerón (CC, EM María Rodrigo y Bib. Fco. Ibáñez)'
 'CC Rafael Altamira' 'CC Santa Petronila' 'CC Sara Montiel'
 'CDM Alfredo Goyeneche' 'CDM Daoíz y Velarde' 'CDM Entrevías'
 'CDM Fernando Martín' 'CDM Gimnasio Moscardó' 'CDM La Mina'
 'CDM Miguel Guillen Prim' 'CDM Pradillo' 'CDM Raúl González'
 'CDM San Cristóbal' 'CEIP Cristóbal Colón'
 'CEIP Patriarca Obispo Elio Garay' 'CEIP Rufino Blanco'
 'Centro Integral de Formación de Seguridad y Emergencias'
 'Complejo Antonio Machado (CC, CM, Bib y EM)' 'CS Teresa de Calcuta'
 'CSC Montecarmelo' 'JMD Chamberí' 'JMD Retiro' 'JMD Tetuán'
 'JMD Villaverde' 'Museo de Historia' 'CC Pozo del Tío Raimundo'
 'CEIP San Isidoro' 'CSC García Lorca' 'CEIP Joaquín Dicenta'
 'JMD Villaverde Anexo' 'Almacén de la Villa'
 'Biblioteca Huerta de la Salud'
 'CC Buero Vallejo y Biblioteca Canillejas' 'CC Federico Chueca'
 'CC Hortaleza' 'CC José Luis López Vázquez' 'CC Julio Cortázar'
 'CC Las Californias' 'CC Lavapiés' 'CC Lope de Vega -  Ag. Empleo'
 'CC Rubén Darío (ahora CAF2)' 'CD Gertrudis de la Fuente'
 'CDM Arganzuela La Fundi' 'CDM José María Cagigal' 'CDM Moratalaz'
 'CDM Orcasur' 'CEIP Arquitecto Gaudí' 'CEIP Isaac Albéniz'
 'CEIP Padre Poveda' 'CEIP San Juan de la Cruz'
 'Centro de Acogida San Isidro' 'CMM La Estrella - Carmen Martín Gaite'
 'CSC Ágata' 'CSC Cánovas del Castillo' 'CSC José Espronceda'
 'CSC Marconi' 'CSC Oporto' 'CSC Rosario de Acuña' 'CSS Entrevías'
 'CSS San Vicente de Paul' 'IDM La Bombilla' 'Parque de Bomberos 11'
 'Parque de Bomberos 7' 'Parque de Bomberos 8' 'Samur Base 14'
 'Silo Biblioteca Huerta de la Salud' 'Biblioteca Francisco Ayala'
 'Biblioteca Gloria Fuertes' 'Biblioteca José Saramago'
 'Biblioteca María Lejárraga' 'CC Casa de Vacas'
 'CC Eduardo Chillida y Biblioteca Miguel Delibes'
 'CC Fernando Lázaro Carreter' 'CC Francisco Fatou' 'CC Juan Genovés'
 'CC Orcasur y Biblioteca Gabriel Garcia Marquez'
 'CC Villa de Barajas (ampliacion)' 'CDM Antonio Díaz Miguel'
 'CDM Casa de Campo' 'CDM Francisco Fernández Ochoa'
 'CDM Fuente del Berro' 'CDM La Almudena' 'CDM Las Cruces' 'CDM Palomeras'
 'Centro de día Ascao' 'Centro Municipal de Salud Comunitaria Fuencarral'
 'Centro Municipal de Salud Comunitaria Villaverde' 'CMM Antonio Mingote'
 'CMM Islas Filipinas' 'Complejo Albarracín 33 - Movilidad y Sede IAM'
 'Complejo Ascao - Pablo Neruda' 'Complejo La Elipa - Islas Filipinas'
 'CSC Almirante Churruca' 'CSC La Elipa - Islas Filipinas'
 'CSC Villa de Barajas' 'CSCJ Moratalaz'
 'Edificio Anexo al Escenario del Auditorio Cerro Almodovar'
 'Edificio Movilidad' 'Instituto Fabiola de Mora y Aragon'
 'JMD Arganzuela' 'JMD Barajas' 'JMD Carabanchel' 'JMD Chamartín'
 'JMD Moratalaz' 'JMD Puente de Vallecas' 'JMD Vicálvaro'
 'Museo Imprenta Municipal' 'Samur Base 0' 'Sede IAM' 'Sede Madrid Salud'
 'UID Moncloa-Aravaca' 'Vivero de Estufas del Retiro'
 'Vivero de la Casa de Campo' 'Vivero de La Rosaleda (Parque del Oeste)'
 'Vivero de Migas Calientes'
 'Vivero de Empresas de Carabanchel (Madrid Emprende)'
 'CC Príncipe de Asturias' 'Casa Consistorial - Casa de la Villa'
 'Sede AG Seguridad y Emergencias' 'Complejo Moratalaz' 'CC Galileo'
 'CSC Alfonso XII' 'Aula de la Naturaleza de la Villa'
 'Mares Villaverde Mares de Alimentación y Cuidado'
 'CC San Francisco La Prensa' 'Centro de Protección Animal'
 'CDM Antiguo Canódromo' 'Parque de Bomberos 6'
 'Sede AG Hacienda y Personal - Tesoreria del Ayuntamiento'
 'Jefatura del Cuerpo y Parque de Bomberos 2' 'CEIP Alberto Alcocer'
 'EI Osa Menor' '#N/D' 'CEIP Ntra Sra de la Almudena' 'Complejo Barceló'
 'CC Nuevas Dependencias Casa del Reloj' 'JMD San Blas-Canillejas'
 'BIBLIOTECA ÁNGEL GONZALEZ' 'BIBLIOTECA IVÁN DE VARGAS'
 'BIBLIOTECA EUGENIO TRIAS (CASA FIERAS)' 'PLANETARIO' 'MADRID EMPRENDE'
 'MARES MADRID' 'NAVE BOETTICHER'
 'MARES VILLAVERDE MAR DE ALIMENTACION Y CUIDADO'
 'AULA DE LA NATURALEZA DEHESA DE LA VILLA'
 'VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO'
 'VIVERO MUNICIPAL DE CASA DE CAMPO' 'VIVERO MUNICIPAL DE MIGAS CALIENTES'
 'ROSALEDA DEL PARQUE DEL OESTE' 'ALMACÉN DE LA VILLA' 'BASE 14 SAMUR'
 'CENTRO PROTECCIÓN ANIMAL' 'PARQUE BOMBEROS Nº 6'
 'PARQUE DE BOMBEROS Nº 7' 'PARQUE DE BOMBEROS Nº 11'
 'CSS JOSÉ VILLARREAL (ARGANZUELA)' 'EI LA MELONERA '
 'CDM MARQUÉS DE SAMARANCH' 'CDI ARGANZUELA' 'CDM ARGANZUELA LA FUNDI'
 'CC Y BIBLIOTECA GLORIA FUERTES' 'CMM ACUARIO'
 'CC SAN FRANCISCO LA PRENSA' 'CC GARCÍA LORCA' 'ANTIGUO CANÓDROMO'
 'CEIP FERNANDO EL CATÓLICO' 'JMD CIUDAD LINEAL (CMM, CC, BIBLIOTECA)'
 'CENTRO DE DÍA Y DE MAYORES ASCAO/\r\nBIBLIOTECA PABLO NERUDA'
 'CC LA ELIPA Y CSS SANTA FELICIDAD' 'CC Y CMM SAN JUAN BAUTISTA'
 'CM Y CSS LUIS VIVES'
 'CMM ISLAS FILIPINAS, CENTRO JUVENIL Y BIBLIOTECA LA ELIPA'
 'CSS SAN VICENTE DE PAUL' 'EI ELENA FORTÚN (MONTECARMELO)'
 'CDM VICENTE DEL BOSQUE' 'CDM LA MASÓ' 'EI EL FRESNO'
 'EI POETA GLORIA FUERTES (LAS TABLAS)' 'CDM LUIS ARAGONÉS'
 'CC SANCHINARRO Y BIBLIOTECA MARÍA LEJÁRRAGA' 'JMD HORTALEZA'
 'CC FEDERICO CHUECA ' 'JMD LATINA' 'CDM LAS CRUCES'
 'CENTRO DE DÍA GERTRUDIS DE LA FUENTE'
 'CENTRO DE ACOGIDA MUNICIPAL PUERTA ABIERTA' 'CDM GALLUR'
 'EI BOLA DE CRISTAL (VALDEZARZA)' 'IDM LA BOMBILLA'
 'CC EDUARDO CHILLIDA Y BIBLIOTECA MIGUEL DELIBES'
 'CMM/CSS LADERA EL ALMENDRO' 'EI SABINA (MORATALAZ)' 'CDM MORATALAZ'
 'CSS  Y APARTAMENTOS TUTELADOS RETIRO' 'ESCUELAS AGUIRRE'
 'CEIP JOSE CALVO SOTELO' 'CEIP CIUDAD DE ROMA'
 'CMM LA ESTRELLA - CARMEN MARTÍN GAITE'
 'CMM/CENTRO DIA/CSS LA GUINDALERA' 'CC Y BIBLIOTECA BUENAVISTA'
 'CC JOSE LUIS LÓPEZ VÁZQUEZ' 'JMD SAN BLAS' 'CDM ANTONIO DÍAZ MIGUEL'
 'CC EDUARDO ÚRCULO Y BIBLIOTECA MARÍA ZAMBRANO' 'CSS SAN FILIBERTO'
 'CMM ORCASUR' 'CC ORCASUR Y BIBLIOTECA GABRIEL GARCÍA MÁRQUEZ'
 'JMD USERA' 'CDM ORCASUR' 'EI PENSAMIENTO (MIRASIERRA)'
 'CDM VICÁLVARO (MARGOT MOLÉS)'
 'CC VALDEBERNARDO Y BIBLIOTECA FRANCISCO AYALA'
 'CC EL MADROÑO Y BIBLIOTECA VICÁLVARO' 'JMD VICÁLVARO'
 'CSS PUERTO DE LAS PILAS' 'CMM VILLA DE VALLECAS '
 'JMD VILLA DE VALLECAS' 'CDM FÉLIX RUBIO' 'CC MARCONI'
 'CC LOS ROSALES (NUEVO ROSALES)' 'CC BOHEMIOS' 'JMD VILLAVERDE'
 'CDM EL ESPINILLO' 'EI MAMUT  (BUTARQUE)' 'PARQUE BOMBEROS Nº 8'
 'CASA ASOCIACIONES HORTALEZA' 'EI PLÉYADES' 'CMM VALLEHERMOSO'
 'BIBLIOTECA GERARDO DIEGO' 'CEIP  SAN JUAN DE LA CRUZ'
 'CEIP ARQUITECTO GAUDÍ' 'CEIP ISAAC ALBÉNIZ' 'CEIP PADRE POVEDA'
 'EI PARQUE INGENIEROS' 'CSC GARCÍA LORCA' 'CMM Y CSS LUIS VIVES'
 'CEIP ESCUELAS AGUIRRE' 'CC BUENAVISTA Y BIBLIOTECA DAVID GISTAU'
 'JMD SAN BLAS - CANILLEJAS' 'CC RUBÉN DARÍO/CASA ASOCIACIONES HORTALEZA '
 'BIBLIOTECA MANUEL VÁZQUEZ MONTALBÁN' 'CDM PLATA Y CASTAÑAR'
 'CDM JOSE MARIA CAGIGAL' 'CEIP SAN JUAN DE LA CRUZ' 'UID MONCLOA-ARAVACA'
 'CENTRO ACOGIDA SAN ISIDRO' 'CDM SAN BLAS' 'UID HORTALEZA'
 'CDM JUAN DE DIOS ROMÁN' 'BIBLIOTECA Ã\x81NGEL GONZALEZ'
 'BIBLIOTECA IVÃ\x81N DE VARGAS'
 'OFICINA ECONOMIA SOCIAL-PROYECTO MARES ALBERTO PALACIOS'
 'ALMACÃ\x89N DE LA VILLA' 'BASE SAMUR NÂº 14 FUERTE DE NAVIDAD'
 'CENTRO PROTECCIÃ\x93N ANIMAL'
 'BASE SAMUR NÂº 02 SAN BERNARDO/ CENTRO INTEGRAL EMERGENCIAS'
 'PARQUE DE BOMBEROS NÂº 7' 'PARQUE DE BOMBEROS NÂº 11'
 'CSS JOSÃ\x89 VILLARREAL (ARGANZUELA)' 'CDM MARQUÃ\x89S DE SAMARANCH'
 'CSC GARCÃ\x8dA LORCA' 'CDM PUERTA BONITA (ANTIGUO CANÃ\x93DROMO)'
 'CEIP /EIM FERNANDO EL CATÃ\x93LICO'
 'CENTRO DE DÃ\x8dA Y DE MAYORES ASCAO/\r\nBIBLIOTECA PABLO NERUDA'
 'CMM / CC / BIBILIO LA ELIPA (ANTES ISLAS FILIPINAS)'
 'EI ELENA FORTÃ\x9aN (MONTECARMELO)' 'CDM LA MASÃ\x93'
 'CDM LUIS ARAGONÃ\x89S'
 'CC SANCHINARRO Y BIBLIOTECA MARÃ\x8dA LEJÃ\x81RRAGA'
 'CENTRO DE DÃ\x8dA GERTRUDIS DE LA FUENTE'
 'CMM EL ALMENDRO/ CSS VALDEBERARDO'
 'CSS RETIRO Y APARTAMENTOS TUTELADOS '
 'CMM LA ESTRELLA - CARMEN MARTÃ\x8dN GAITE'
 'CC JOSE LUIS LÃ\x93PEZ VÃ\x81ZQUEZ' 'CDM ANTONIO DÃ\x8dAZ MIGUEL'
 'CC EDUARDO Ã\x9aRCULO Y BIBLIOTECA MARÃ\x8dA ZAMBRANO'
 'CC ORCASUR Y BIBLIOTECA GABRIEL GARCÃ\x8dA MÃ\x81RQUEZ'
 'CDM VICÃ\x81LVARO (MARGOT MOLÃ\x89S)'
 'CC EL MADROÃ\x91O Y BIBLIOTECA VICÃ\x81LVARO' 'JMD VICÃ\x81LVARO'
 'CDM FÃ\x89LIX RUBIO' 'CC NUEVO ROSALES' 'PARQUE BOMBEROS NÂº 8'
 'CAF-2 y Casa de NiÃ±os (antes CC RubÃ©n DarÃ\xado) ' 'EI PLÃ\x89YADES'
 'CMM ANTONIO MINGOTE (VALLEHERMOSO)'
 'BIBLIOTECA MANUEL VÃ\x81ZQUEZ MONTALBÃ\x81N' 'CDM PLATA Y CASTAÃ\x91AR'
 'BIBLIOTECA MUNICIPAL BARRIO DE SAN FERMÃ\x8dN'
 'CEIP ARQUITECTO GAUDÃ\x8d' 'CEIP ISAAC ALBÃ\x89NIZ' 'CSC OPORTO'
 'CSS PABLO CASALS' 'IDB ORCASITAS' 'CDM JUAN DE DIOS ROMÃ\x81N'
 'CDM LAS CRUCES ' 'CDM LA CONCEPCION' 'CDM PRADILLO'
 'CDM SAN JUAN BAUTISTA' 'CMS VILLAVERDE'
 'EDIFICACIÃ\x93N ANEXO AL ESCENARIO DEL AUDITORIO CERRO ALMODOVAR'
 'SEDE CENTRAL MADRID SALUD' 'CDM FAUSTINA VALLADOLID'
 'BIBLIOTECA ANA MARIA MATUTE'
 'CC JUAN GENOVÃ\x89S/CMM/CSS TRAVESIA DEL CAÃ\x91O' 'BASE SAMUR RETIRO'
 'INNOVATION LAB' 'CC ALFREDO KRAUS'
 'CDM BLANCA FDEZ OCHOA (ANTIGUA LA MINA)' 'CDM FERNANDO MARTIN '
 'CDM WILFRED AGBONAVBARE' 'CDM ENTREVIAS ' 'CDM HORTALEZA'
 'OAIC SACRAMENTO AGENCIA TRIBUTARIA' 'CDM FRANCISCO FERNANDEZ OCHOA'
 'BASE SAMUR 4' 'VIVERO DE LA CASA DE CAMPO' 'CMM SAN DIEGO'
 'CSS CENTRO DE DÃ\x8dA Y ALZHEIMER ENSANCHE DE VALLECAS'
 'CEIP CIUDAD DE VALENCIA' 'CEIP CIUDAD DE JAEN' 'CEIP NAVAS DE TOLOSA'
 'CEIP GHANDI' 'CEIP VIRGEN DEL CERRO' 'CEIP NTRA SÃ\x91RA DE LA ALMUDENA'
 'CDM CERRO ALMODÃ\x93VAR' 'CENTRO JUVENIL VALDERRIVAS'
 'CDM PLAYA VICTORIA' 'CSC TERESA DE CALCUTA' 'CSC MORATALAZ'
 'CDM MÂª JESÃ\x9aS ROSA' 'CEIP EL GRECO' 'CEIP MANUEL DE FALLA'
 'DG POLICIA MUNICIPAL (PABELLON DE LA PIPA CIUDAD SEGURIDAD)'
 'CENTRO MUNICIPAL ACUSTICA' 'CENTRO DE MAYORES OUKA LELE'
 'PARQUE DE BOMBEROS NÂº 05 USERA' 'JMD PUENTE VALLECAS/CID/SAMUR'
 'BASE SAMUR Nº 14 FUERTE DE NAVIDAD'
 'BASE SAMUR Nº 02 SAN BERNARDO/ CENTRO INTEGRAL EMERGENCIAS'
 'CDM PUERTA BONITA (ANTIGUO CANÓDROMO)' 'CEIP /EIM FERNANDO EL CATÓLICO'
 'CAF-2 y Casa de Niños (antes CC Rubén Darío) '
 'BIBLIOTECA MUNICIPAL BARRIO DE SAN FERMÍN'
 'EDIFICACIÓN ANEXO AL ESCENARIO DEL AUDITORIO CERRO ALMODOVAR'
 'CC JUAN GENOVÉS/CMM/CSS TRAVESIA DEL CAÑO'
 'CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALLECAS'
 'CEIP NTRA SÑRA DE LA ALMUDENA' 'CDM CERRO ALMODÓVAR' 'CDM Mª JESÚS ROSA'
 'PARQUE DE BOMBEROS Nº 05 USERA' 'CENTRO CULTURAL PASTORA IMPERIO'
 'EI LAS GOLONDRINAS' 'FACTORÍA INDUSTRIAL DE VILLAVERDE'
 'CEIP CIUDAD DE CORDOBA' 'CENTRO MUNICIPAL DE RECOGIDAS TRECE ROSAS'
 'CDM EL QUIJOTE' 'CDM MOSCARDO' 'CID VILLA DE VALLECAS / OAC'
 'ALMACEN BOMBEROS VILLA DE VALLECAS']


Valores únicos de 'dirección':
['CALLE ISAAC ALBENIZ, 1 28019 MADRID'
 'CALLE GRANJA DE TORREHERMOSA, 1 28024 MADRID'
 'PASEO FERNAN NUÑEZ, 24 28009 MADRID' 'CALLE MONTE AYA, 12 28031 MADRID'
 'CALLE MARIA SEVILLA DIAGO, 15 28022 MADRID'
 'CALLE NUESTRA SEÑORA DEL VILLAR, 6 28017 MADRID'
 'CALLE BARCELO, 4 28004 MADRID'
 'CALLE ARROYO BELINCOSO, 11 (JUNTO A CENTRO CULTURAL EDUARDO CHILLIDA) 28030 MADRID'
 'CALLE ASCAO, 4 28017 MADRID' 'CALLE ARGANDA, 12 28005 MADRID'
 'CALLE CONDE DUQUE, 11 28015 MADRID'
 'AVENIDA\xa0 MONFORTE DE LEMOS, 38 28029 MADRID'
 'BULEVAR INDALECIO PRIETO, 21 28032 MADRID'
 'AVENIDA LOGROÑO, 179 28042 MADRID' 'CALLE CANARIAS, 17 28045 MADRID'
 'AVENIDA DE LAS AGUILAS, 14 28044 MADRID'
 'CALLE PAYASO FOFO, 7 28018 MADRID' 'AVENIDA LOGROÑO, 70 28042 MADRID'
 'CALLE CERRO DE ALMODOVAR, 9 28007 MADRID'
 'CALLE JOSE DEL HIERRO, 5 28027 MADRID'
 'CALLE LADERA DE LOS ALMENDROS, 2 28032 MADRID'
 'CALLE GALLUR, 2 28047 MADRID'
 'CARRETERA ESTACION DE HORTALEZA, 11 28033 MADRID'
 'CALLE ALCALDE GARRIDO JUARISTI, 17 28030 MADRID'
 'CALLE MASO, 80 (C/V VENTISQUERO DE LA CONDESA) 28034 MADRID'
 'CALLE EL PROVENCIO, 20 28043 MADRID'
 'AVENIDA RAFAELA YBARRA, 52 28026 MADRID'
 'PASEO PLATA Y CASTAÑAR, 7 28021 MADRID'
 'CALLE HIERBABUENA, 2 28039 MADRID'
 'CALLE FRANCISCO RIOJA, 14 28017 MADRID'
 'PASEO IMPERIAL, 20 28005 MADRID' 'CALLE ARCOS DE JALON, 59 28037 MADRID'
 'CALLE TREVIANA, 1 28043 MADRID'
 'AVENIDA MONFORTE DE LEMOS, 13 28029 MADRID'
 'CALLE REGUERA DE TOMATEROS, 39B, 28053 MADRID'
 'CALLE VILLAVALIENTE, 29 28011 MADRID'
 'CALLE CEA BERMUDEZ, 26 28003 MADRID'
 'CALLE ANTONIO LOPEZ, 1 28019 MADRID'
 'GLORIETA RUFINO NOVALVOS, 5 28025 MADRID'
 'CALLE LAS MARISMAS, 14 28038 MADRID' 'CALLE TABERNILLAS, 2 28005 MADRID'
 'CALLE TOMELLOSO, 39 28026 MADRID' 'PLAZA DOS DE MAYO, 2 28004 MADRID'
 'CALLE PARQUE DE LA PALOMA, 9 28026 MADRID'
 'CALLE SEGURA, 74 28041 MADRID' 'CALLE ALFONSO VI, 1 28005 MADRID'
 'CALLE BAILEN, 18 28005 MADRID'
 'CALLE JERTE, 3 (ENTRADA POR CALLE SAN BUENAVENTURA, 3) 28005 MADRID'
 'AVENIDA MONFORTE DE LEMOS, 38-40 28029 MADRID' 'C/ PRINCESA ÉBOLI, 29'
 'CALLE MAYOR, 72 28013 MADRID'
 'AVENIDA MONFORTE DE LEMOS, 40 28029 MADRID'
 'CALLE AVENA, 11 28026 MADRID' 'PLAZA CIBELES, 1 28014 MADRID'
 'CALLE ALCALA, 45 28014 MADRID'
 'AVENIDA  MONFORTE DE LEMOS,  38  28029  MADRID'
 'CALLE  JOSE MARTINEZ DE VELASCO,  22  28007  MADRID'
 'PLAZA  PUEBLO,  2  (CENTRO CULTURAL ORCASUR)  28041  MADRID'
 'CALLE  SAN JUSTO,  5  28005  MADRID'
 'CALLE  FRANCOS RODRIGUEZ,  67  28039  MADRID'
 'AVENIDA\xa0 TOREROS,\xa0 5\xa0 28028\xa0 MADRID'
 'CALLE  LOS BOHEMIOS,  1  28041  MADRID' 'PLAZA DONOSO, 5 28029 MADRID'
 'CALLE  VILLARDONDIEGO,  36  28032  MADRID'
 'CALLE  SANTA FELICIDAD,  39  28017  MADRID'
 'AVENIDA LOS ROSALES, 133 28021 MADRID'
 'CARRETERA  VILLAVERDE A VALLECAS,  19  28041  MADRID'
 'CALLE  ALIANZA,  4  28041  MADRID'
 'PASEO  POLIDEPORTIVO,  3  28032  MADRID'
 'CALLE  JUAN ESPLANDIU,  2  28007  MADRID'
 'CALLE  PIO BAROJA,  4  28009  MADRID'
 'CALLE  FERNANDO EL CATOLICO,  16  28015  MADRID'
 'AVENIDA  CIUDAD DE BARCELONA,  83  28007  MADRID'
 'CALLE ACUARIO, 27 PLANTA 1ª 28042 MADRID'
 'CALLE  LADERA DE LOS ALMENDROS,  6  28032  MADRID'
 'AVENIDA  ORCASUR,  60  28041  MADRID'
 'CALLE  PICO MAMPODRE,  6  28031  MADRID'
 'AVENIDA  INSTITUCION LIBRE DE ENSEÑANZA,  160  28037  MADRID'
 'CALLE  PILAR DE ZARAGOZA,  28  28028  MADRID'
 'CALLE  GUILLERMO DE OSMA,  14  28045  MADRID'
 'CALLE  FUENTIDUEÑA,  16  28031  MADRID'
 'CALLE  SAN FILIBERTO,  7  28026  MADRID'
 'AVENIDA  INSTITUCION LIBRE DE ENSEÑANZA,  16  28037  MADRID'
 'CARRETERA CANILLAS, 2 28043 MADRID'
 'AVENIDA  LAS AGUILAS,  2  A  28044  MADRID'
 'AVENIDA ARCENTALES, 28 28022 MADRID'
 'AVENIDA RAFAELA YBARRA, 41 28026 MADRID'
 'PASEO  FEDERICO GARCIA LORCA,  12  28031  MADRID'
 'CALLE  PRINCIPE DE VERGARA,  140  PLANTA  1ª  28002  MADRID'
 'AVENIDA  PLANETARIO,  16  28045  MADRID'
 'CALLE  REAL DE ARGANDA,  64  28031  MADRID'
 'CALLE  MANUEL FERRERO,  1  28036  MADRID'
 'CALLE GENERAL RICARDOS, 252 (Antiguo Mercado de Carabanchel) 28025 MADRID'
 'PASEO  COMANDANTE FORTEA,  42  28008  MADRID'
 'CALLE  CANTALAPIEDRA,  11-14  28038  MADRID'
 'GLORIETA  PRADERA DE VAQUERIZAS,  9  28035  MADRID '
 'CALLE  CARRIL DEL CONDE,  57  28043  MADRID'
 'PASEO CHOPERA, 6 (Y 10) 28045 MADRID '
 'AVENIDA MORATALAZ, 130 28030 MADRID'
 'CALLE  CAMARENA,  10  (B)  28047  MADRID'
 'CALLE  CAMARENA,  10  28047  MADRID'
 'CALLE IBIZA, 8 PLANTA 1ª 28009 MADRID'
 'PLAZA ASOCIACION, 1 28041 MADRID' 'CALLE  MANTUANO,  51  28002  MADRID'
 "CALLE  ENRIQUE D'ALMONTE,  1  28028  MADRID"
 'CALLE  MARIA MARTINEZ OVIOL,  12  28021  MADRID'
 'CARRETERA  BOADILLA DEL MONTE,  40  28024  MADRID'
 'CALLE ARROYO DE POZUELO, 99 28023 MADRID'
 'AVENIDA  CIUDAD DE BARCELONA,  162  28007  MADRID'
 'RONDA  SUR,  4  28053  MADRID'
 'AVENIDA SANTO ANGEL DE LA GUARDA, 6 28039 MADRID'
 'CALLE PILAR DE ZARAGOZA, 93 28028 MADRID '
 'CALLE  MONSEÑOR OSCAR ROMERO,  41  28025  MADRID'
 'CALLE FUENTIDUEÑA, 6 (ESQUINA CALLE PUERTO PORZUNA) 28031 MADRID'
 'CALLE PRADILLO, 33 28002 MADRID' 'CALLE  BENIMAMET,  137  28021  MADRID'
 'PLAZA  PINAZO,  9  28021  MADRID'
 'CARRETERA  CARABANCHEL A VILLAVERDE,  109  28041  MADRID'
 'CALLE  LOPEZ DE HOYOS,  40  28006  MADRID'
 'CALLE  GENERAL ALVAREZ DE CASTRO,  46  28010  MADRID'
 'CALLE  SEPULVEDA,  153  28011  MADRID'
 'CALLE SAN ROMÁN DEL VALLE, 8 28037 MADRID' 'PLAZA NAVIO, 4 28042 MADRID'
 'AVENIDA  MONASTERIO DE SILOS,  57  28049  MADRID'
 'PLAZA CHAMBERI, 4 28010 MADRID' 'PLAZA DAOIZ Y VELARDE, 2 28007 MADRID'
 'CALLE BRAVO MURILLO, 357 28020 MADRID'
 'CALLE  ARROYO BUENO,  53  28021  MADRID'
 'CALLE FUENCARRAL, 78 28004 MADRID'
 'AVENIDA  DE LAS GLORIETAS,  19  (19-21 entrada por la PLAZA DEL PADRE LLANOS)  28053  MADRID'
 'CALLE  FUENTERRABIA,  15  28014  MADRID'
 'CALLE  EUGENIA DE MONTIJO,  105  28044  MADRID'
 'PASEO DE LOS OLIVOS, 70, 28011 MADRID'
 'CALLE  AHUMAOS,  27  28052  MADRID'
 'CALLE  MAR DE LAS ANTILLAS,  10  28033  MADRID'
 'CALLE  BOLTAÑA,  27  28022  MADRID'
 'CALLE  BENITA ÁVILA,  17  28043  MADRID'
 'CALLE  SANTA VIRGILIA,  15  28033  MADRID '
 'CALLE  FEBRERO,  4  28022  MADRID'
 'CALLE  ANTONIO MACHADO,  20  28035  MADRID'
 'CALLE  LUIS PEIDRO,  2  28007  MADRID'
 'CALLE  OLIVAR,  46  28012  MADRID'
 'CALLE  CONCEJO DE TEVERGA,  1  28053  MADRID'
 'CALLE MATAPOZUELOS, 6 28043 MADRID'
 'CALLE  GERTRUDIS DE LA FUENTE,  2  28047  MADRID'
 'CALLE  ALICANTE,  14  28045  MADRID '
 'CALLE  SANTA POLA,  22  28008  MADRID'
 'CALLE  VALDEBERNARDO,  2  28030  MADRID'
 'CALLE  MOREJA,  11  28041  MADRID'
 'CALLE  ROSA JARDON,  10  28016  MADRID'
 'CALLE  DRACENA,  29  28016  MADRID'
 'AVENIDA  ALFONSO XIII,  23  28002  MADRID'

-----------------------------------

Limpiamos y estandarizamos las columnas y los valores de cada una del dataset.

In [41]:
energia.columns = energia.columns.str.strip()  # Eliminar espacios al principio y al final
energia.columns = energia.columns.str.lower()  # Convertir a minúsculas
energia.columns = energia.columns.str.replace(r'[^a-z0-9\s]', '', regex=True)  # Eliminar caracteres especiales
energia.columns = energia.columns.str.replace(r'\s+', '_', regex=True)  # Reemplazar espacios por guiones bajos
energia.columns

Index(['tipo_del_edificio', 'edificio', 'direccin', 'distrito', 'clase',
       'unidades', 'consumo', 'puesta_en_servicio', 'potencia_kwp',
       'empresa_instaladora', 'agno', 'mes'],
      dtype='object')

In [43]:
for col in energia.columns:
    energia[col] = energia[col].apply(lambda x: str(x).strip().lower())  # Eliminar espacios y convertir a minúsculas
    energia[col] = energia[col].apply(lambda x: ''.join(e for e in x if e.isalnum() or e.isspace()))  # Eliminar caracteres especiales
    energia[col] = energia[col].apply(lambda x: '_'.join(x.split()))  # Reemplazar espacios por guiones bajos
energia

,tipo_del_edificio,edificio,direccin,distrito,clase,unidades,consumo,puesta_en_servicio,potencia_kwp,empresa_instaladora,agno,mes
0,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_activa,kwh,130990,20200301_000000,nan,empresa_desconocida,2020,3
1,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_reactiva,kvarh,1040,20200301_000000,nan,empresa_desconocida,2020,3
2,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_activa,kwh,96880,20200301_000000,nan,empresa_desconocida,2020,3
3,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_reactiva,kvarh,42620,20200301_000000,nan,empresa_desconocida,2020,3
4,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,gas,m3,00,20200301_000000,nan,empresa_desconocida,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...
23649,medioambiental,centro_municipal_de_recogidas_trece_rosas,avenida_de_las_trece_rosas_5_28017_madrid,ciudad_lineal,energía_renovable,kwh,nan,20240701_000000,100,empresa_desconocida,2024,7
23650,deportivo,cdm_el_quijote,calle_numancia2,moncloa_aravaca,energía_renovable,kwh,nan,20240912_000000,200,empresa_desconocida,2024,9
23651,deportivo,cdm_moscardo,calle_pilar_de_zaragoza_93,salamanca,energía_renovable,kwh,nan,20240911_000000,100,empresa_desconocida,2024,9
23652,seguridad,cid_villa_de_vallecas_oac,calle_real_de_arganda_64,villa_de_vallecas,energía_renovable,kwh,nan,20240911_000000,100,empresa_desconocida,2024,9
23653,seguridad,almacen_bomberos_villa_de_vallecas,calle_el_real_de_san_vicente_61,villa_de_vallecas,energía_renovable,kwh,nan,20240403_000000,330,empresa_desconocida,2024,4

In [44]:

print("Valores únicos de 'empresa instaladora':")
print(energia['empresa_instaladora'].unique())
print("\n")

Valores únicos de 'empresa instaladora':
['empresa_desconocida' 'ortiz' 'fulton' 'aura' 'saveffi' 'powen'
 'ferrovial' 'imesapi' 'eulen' 'dragados' 'pecsa' 'orthem' 'condisa'
 'cyopsa' 'ohl' 'electosa' 'ugarte' 'acciona' 'etralux'
 'avelsa_avance_electrico_sl' 'condisa_grupo_ortiz'
 'acciona_facility_services'
 'extraco_construccions_e_proxectos_sa_subontrata_servipack_mantenimientos_industriales'
 'no_conocen_cual_es_la_instaladora_podrãa_ser_aura_ya_que_la_constructora_que_es_fdez_molina_trabaja_con_ellos'
 'ingedom_sl'
 'no_conocen_cual_es_la_instaladora_podría_ser_aura_ya_que_la_constructora_que_es_fdez_molina_trabaja_con_ellos'
 'herrera_y_lobatosl']

In [265]:
#energia_s.to_csv('energia_solar_madrid_definitivo_modificado2.csv', index=False)

--------------------------

# Coneconexión a la base de datos en docker

In [268]:
pip install pymysql pandas

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: pandas in c:\users\cristina\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cristina\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cristina\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cristina\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cristina\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cristina\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 45.0/45.0 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [269]:
import pymysql

# Probar la conexión
try:
    connection = pymysql.connect(
        host="localhost",      # Dirección del servidor
        user="root",           # Usuario de MySQL
        password="Alba2501",   # Contraseña
        database="Energia",    # Nombre de la base de datos
        port=3306              # Puerto
    )
    print("Conexión exitosa")

    # Crear un cursor y listar las tablas
    cursor = connection.cursor()
    cursor.execute("SHOW TABLES;")
    for table in cursor.fetchall():
        print(table)
finally:
    connection.close()

NameError: name 'connection' is not defined

In [ ]:

import pymysql
import pandas as pd

# Conexión a la base de datos
connection = pymysql.connect(
    host="localhost",       # Dirección del servidor
    user="root",            # Usuario de MySQL
    password="Alba2501",    # Contraseña
    database="Energia",     # Nombre de la base de datos
    port=3306               # Puerto
)

# Consulta para obtener los datos de la tabla 'energia_solar_madrid'
query = "SELECT * FROM energia_solar_madrid;"
energia_df = pd.read_sql(query, connection)

# Verificar los datos cargados
print(energia_df.head())

# Cerrar la conexión
connection.close()

In [ ]:
from sqlalchemy import create_engine

# Crear el motor de conexión con SQLAlchemy
engine = create_engine("mysql+pymysql://root:Alba2501@localhost:3306/Energia")

# Consulta para obtener los datos
query = "SELECT * FROM energia_solar_madrid;"
energia_s = pd.read_sql(query, engine)

# Verificar los datos cargados
print(energia_s.head())

In [ ]:
# Reemplazar 'nan' con 'NULL' en las columnas
energia_s = energia_s.fillna("NULL")

# Eliminar caracteres innecesarios como '\r' en las cadenas
energia_s["empresa_instaladora"] = energia_s["empresa_instaladora"].str.strip()

# Verificar nuevamente
print(energia_s.head())

--------------------

# Análisis

In [47]:
import matplotlib.pyplot as plt

Análisis por Distrito. Encontramos la potencia y el consumo total que genera cada distrito y el número de edificios públicos en cada distrito de la Comunidad de Madrid.

In [49]:
energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23654 entries, 0 to 23653
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    23654 non-null  object
 1   edificio             23654 non-null  object
 2   direccin             23654 non-null  object
 3   distrito             23654 non-null  object
 4   clase                23654 non-null  object
 5   unidades             23654 non-null  object
 6   consumo              23654 non-null  object
 7   puesta_en_servicio   23654 non-null  object
 8   potencia_kwp         23654 non-null  object
 9   empresa_instaladora  23654 non-null  object
 10  agno                 23654 non-null  object
 11  mes                  23654 non-null  object
dtypes: object(12)
memory usage: 2.2+ MB

Pasamos a float las columnas de consumo y potencia.

In [51]:
energia['consumo'] = pd.to_numeric(energia['consumo'], errors='coerce')
energia['potencia_kwp'] = pd.to_numeric(energia['potencia_kwp'], errors='coerce')

Vamos a eliminar la fila nd tanto en la columna de distrito como de tipo de edificio porque no nos aporta nada de información a nuestro análisis.

In [56]:
energia = energia[energia['distrito'] != 'nd']
energia = energia[energia['tipo_del_edificio'] != '#N/D']

In [58]:
print("Valores únicos de 'tipo del edificio':")
print(energia['distrito'].unique())
print("\n")

Valores únicos de 'tipo del edificio':
['carabanchel' 'latina' 'retiro' 'villa_de_vallecas' 'san_blas_canillejas'
 'ciudad_lineal' 'centro' 'moratalaz' 'arganzuela' 'fuencarral_el_pardo'
 'vicalvaro' 'barajas' 'puente_de_vallecas' 'hortaleza' 'usera'
 'villaverde' 'tetuan' 'chamberi' 'salamanca' 'chamartin'
 'moncloa_aravaca']

Antes de nada vamos a completar las columnas que tienen NaN. 

En primer lugar, vamos a completar la columna potencia con el valor 0 porque la potencia equivale a la que generan las placas solares, entonces si lo rellenamos con 0 quiere decir que no tienen placas solares.

In [61]:
energia['potencia_kwp'] = energia['potencia_kwp'].fillna(0)

En la siguiente, completamos la columna consumo haciendo la media de los mismos edificios y el distrito en el que se localizan.

In [64]:
energia['consumo'] = energia.groupby('tipo_del_edificio')['consumo'].transform(lambda x: x.fillna(x.mean()))

In [66]:
energia['consumo'] = energia.groupby('edificio')['consumo'].transform(lambda x: x.fillna(x.mean()))

In [68]:
energia['consumo'] = energia.groupby('distrito')['consumo'].transform(lambda x: x.fillna(x.mean()))

In [70]:
energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23653 entries, 0 to 23653
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    23653 non-null  object
 1   edificio             23653 non-null  object
 2   direccin             23653 non-null  object
 3   distrito             23653 non-null  object
 4   clase                23653 non-null  object
 5   unidades             23653 non-null  object
 6   consumo              23653 non-null  float64
 7   puesta_en_servicio   23653 non-null  object
 8   potencia_kwp         23653 non-null  float64
 9   empresa_instaladora  23653 non-null  object
 10  agno                 23653 non-null  object
 11  mes                  23653 non-null  object
dtypes: float64(2), object(10)
memory usage: 2.3+ MB

A continuación filtramos la columna de unidades para saber las energías que consumen kwh para posteriormente ver cuanta energía consumen en Mwh.

In [75]:
energia_kwh = energia[energia['unidades'] == 'kwh']
energia['consumo_MWh'] = energia_kwh['consumo'] / 1000
energia

,tipo_del_edificio,edificio,direccin,distrito,clase,unidades,consumo,puesta_en_servicio,potencia_kwp,empresa_instaladora,agno,mes,consumo_MWh
0,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_activa,kwh,130990.000000,20200301_000000,0.0,empresa_desconocida,2020,3,130.990000
1,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_reactiva,kvarh,1040.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN
2,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_activa,kwh,96880.000000,20200301_000000,0.0,empresa_desconocida,2020,3,96.880000
3,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_reactiva,kvarh,42620.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN
4,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,gas,m3,0.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23649,medioambiental,centro_municipal_de_recogidas_trece_rosas,avenida_de_las_trece_rosas_5_28017_madrid,ciudad_lineal,energía_renovable,kwh,33133.177365,20240701_000000,100.0,empresa_desconocida,2024,7,33.133177
23650,deportivo,cdm_el_quijote,calle_numancia2,moncloa_aravaca,energía_renovable,kwh,55118.067812,20240912_000000,200.0,empresa_desconocida,2024,9,55.118068
23651,deportivo,cdm_moscardo,calle_pilar_de_zaragoza_93,salamanca,energía_renovable,kwh,55118.067812,20240911_000000,100.0,empresa_desconocida,2024,9,55.118068
23652,seguridad,cid_villa_de_vallecas_oac,calle_real_de_arganda_64,villa_de_vallecas,energía_renovable,kwh,2145.169082,20240911_000000,100.0,empresa_desconocida,2024,9,2.145169
23653,seguridad,almacen_bomberos_villa_de_vallecas,calle_el_real_de_san_vicente_61,villa_de_vallecas,energía_renovable,kwh,2145.169082,20240403_000000,330.0,empresa_desconocida,2024,4,2.145169

In [99]:
print("Valores únicos de 'mes':")
print(energia['unidades'].unique())
print("\n")

Valores únicos de 'mes':
['kwh' 'kvarh' 'm3']

In [83]:
# Verifica que la columna 'mes' sea de tipo entero
energia['mes'] = energia['mes'].astype(int)
energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23653 entries, 0 to 23653
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    23653 non-null  object
 1   edificio             23653 non-null  object
 2   direccin             23653 non-null  object
 3   distrito             23653 non-null  object
 4   clase                23653 non-null  object
 5   unidades             23653 non-null  object
 6   consumo              23653 non-null  float64
 7   puesta_en_servicio   23653 non-null  object
 8   potencia_kwp         23653 non-null  float64
 9   empresa_instaladora  23653 non-null  object
 10  agno                 23653 non-null  object
 11  mes                  23653 non-null  int32
 12  consumo_MWh          13297 non-null  float64
 13  precio_energia_MWh   0 non-null      float64
 14  coste_total          0 non-null      float64
dtypes: float64(5), int32(1), object(9)
memory usage: 2.8+ MB

Sabiendo que el Mwh cuesta al mes lo siguiente, vamos a crear una columna con el coste de electricidad.

Enero: 90,25 €/MWh

Febrero: 88,50 €/MWh

Marzo: 87,75 €/MWh

Abril: 85,58 €/MWh 

Mayo: 92,10 €/MWh

Junio: 95,45 €/MWh

Julio: 100,30 €/MWh

Agosto: 105,75 €/MWh

Septiembre: 110,20 €/MWh

Octubre: 115,60 €/MWh

Noviembre: 120,85 €/MWh

Diciembre: 175,18 €/MWh

In [97]:
precios_por_mes = {
    1: 90.25,   # Enero
    2: 88.50,   # Febrero
    3: 87.75,   # Marzo
    4: 85.58,   # Abril
    5: 92.10,   # Mayo
    6: 95.45,   # Junio
    7: 100.30,  # Julio
    8: 105.75,  # Agosto
    9: 110.20,  # Septiembre
    10: 115.60, # Octubre
    11: 120.85, # Noviembre
    12: 175.18  # Diciembre
}

energia['precio_energia_MWh'] = energia['mes'].map(precios_por_mes)

# Calcular el coste total del consumo por edificio
energia['coste_total'] = energia['consumo_MWh'] * energia['precio_energia_MWh']

# Verificar el resultado
energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23653 entries, 0 to 23653
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    23653 non-null  object
 1   edificio             23653 non-null  object
 2   direccin             23653 non-null  object
 3   distrito             23653 non-null  object
 4   clase                23653 non-null  object
 5   unidades             23653 non-null  object
 6   consumo              23653 non-null  float64
 7   puesta_en_servicio   23653 non-null  object
 8   potencia_kwp         23653 non-null  float64
 9   empresa_instaladora  23653 non-null  object
 10  agno                 23653 non-null  object
 11  mes                  23653 non-null  int32
 12  consumo_MWh          13297 non-null  float64
 13  precio_energia_MWh   23653 non-null  float64
 14  coste_total          13297 non-null  float64
dtypes: float64(5), int32(1), object(9)
memory usage: 2.8+ MB

In [137]:
conteo_clase = energia['clase'].value_counts()
print(conteo_clase)

clase
energía_activa       9139
energía_reactiva     8039
gas                  5855
energía_renovable     620
Name: count, dtype: int64

Nos hemos dado cuenta que la columna de direccin tenemos una dirección que es 0 entonces vamos a eliminar esa fila.

In [119]:
energia = energia[energia['direccin'] != 0]

Filtramos por clase gas para ver si sus columnas de consumo y potencia son todas 0 para posteriormente poder completar las otras columnas.

In [139]:
# Filtrar filas donde 'clase' sea igual a 'gas'
filtrado_gas = energia[energia['clase'] == 'gas']
filtrado_gas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5855 entries, 4 to 23027
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    5855 non-null   object
 1   edificio             5855 non-null   object
 2   direccin             5855 non-null   object
 3   distrito             5855 non-null   object
 4   clase                5855 non-null   object
 5   unidades             5855 non-null   object
 6   consumo              5855 non-null   float64
 7   puesta_en_servicio   5855 non-null   object
 8   potencia_kwp         5855 non-null   float64
 9   empresa_instaladora  5855 non-null   object
 10  agno                 5855 non-null   object
 11  mes                  5855 non-null   int32
 12  consumo_MWh          3538 non-null   float64
 13  precio_energia_MWh   5855 non-null   float64
 14  coste_total          3538 non-null   float64
dtypes: float64(5), int32(1), object(9)
memory usage: 709.0+ KB

In [130]:
suma_consumo = filtrado_gas['consumo'].sum()
suma_potencia = filtrado_gas['potencia_kwp'].sum()
suma_consumo

16180000.0

In [132]:
suma_potencia

0.0

Ahora vamos a crear otra columna para saber el precio de la instalación y el coste de las placas solares según la empresa instaladora.

'FULTON'
 'ORTHEM' 
 'ETRALUX' ' ' ''
 '
 'No conocen cual es la instaladora( podrÃ\xada ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)'
 
 'No conocen cual es la instaladora( podría ser AURA ya que la constructora que es FDEZ MOLINA trabaja con ellos)'
 '

powen: 5.500 €

acciona: 6.000 €

ferrovial: 6.500 €

dragados: 6.800 €

ohl: 6.800 €

imesapi: 6.200 €

eulen: 6.000 €

ortiz: 5.800 €

aura: 5.500 € 

no_conocen_cual_es_la_instaladora_podrãa_ser_aura_ya_que_la_constructora_que_es_fdez_molina_trabaja_con_ellos:  5.500 € 

saveffi: 5.200 €

cyopsa: 5.700 €

pecsa: 5.600 €

ugarte: 5.300 €

electosa: 5.500 €

avelsa_avance_electrico_sl: 5.400 €

acciona_facility_services: 6.200 €

ingedom_sl: 5.900 €

herrera_y_lobatosl: 5.800 €

extraco_construccions_e_proxectos_sa_subontrata_servipack_mantenimientos_industriales: 6.000 €

condisa_grupo_ortiz: 5.800 €

empresa_desconocida: 0€

In [159]:
print("Valores únicos de 'mes':")
print(energia['precio_energia_MWh'].unique())
print("\n")

Valores únicos de 'mes':
[ 87.75  85.58  92.1   95.45 100.3  105.75 110.2  115.6  120.85 175.18
  90.25  88.5 ]

In [161]:
energia

,tipo_del_edificio,edificio,direccin,distrito,clase,unidades,consumo,puesta_en_servicio,potencia_kwp,empresa_instaladora,agno,mes,consumo_MWh,precio_energia_MWh,coste_total,precio_instaladora
0,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_activa,kwh,130990.000000,20200301_000000,0.0,empresa_desconocida,2020,3,130.990000,87.75,11494.372500,0.0
1,cultural,biblioteca_ana_maría_matute,calle_isaac_albeniz_1_28019_madrid,carabanchel,energía_reactiva,kvarh,1040.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN,87.75,NaN,0.0
2,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_activa,kwh,96880.000000,20200301_000000,0.0,empresa_desconocida,2020,3,96.880000,87.75,8501.220000,0.0
3,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,energía_reactiva,kvarh,42620.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN,87.75,NaN,0.0
4,cultural,biblioteca_ángel_gonzález,calle_granja_de_torrehermosa_1_28024_madrid,latina,gas,m3,0.000000,20200301_000000,0.0,empresa_desconocida,2020,3,NaN,87.75,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23649,medioambiental,centro_municipal_de_recogidas_trece_rosas,avenida_de_las_trece_rosas_5_28017_madrid,ciudad_lineal,energía_renovable,kwh,33133.177365,20240701_000000,100.0,empresa_desconocida,2024,7,33.133177,100.30,3323.257690,0.0
23650,deportivo,cdm_el_quijote,calle_numancia2,moncloa_aravaca,energía_renovable,kwh,55118.067812,20240912_000000,200.0,empresa_desconocida,2024,9,55.118068,110.20,6074.011073,0.0
23651,deportivo,cdm_moscardo,calle_pilar_de_zaragoza_93,salamanca,energía_renovable,kwh,55118.067812,20240911_000000,100.0,empresa_desconocida,2024,9,55.118068,110.20,6074.011073,0.0
23652,seguridad,cid_villa_de_vallecas_oac,calle_real_de_arganda_64,villa_de_vallecas,energía_renovable,kwh,2145.169082,20240911_000000,100.0,empresa_desconocida,2024,9,2.145169,110.20,236.397633,0.0
23653,seguridad,almacen_bomberos_villa_de_vallecas,calle_el_real_de_san_vicente_61,villa_de_vallecas,energía_renovable,kwh,2145.169082,20240403_000000,330.0,empresa_desconocida,2024,4,2.145169,85.58,183.583570,0.0

In [155]:
# Diccionario de precios según la empresa instaladora
precios_instaladora = {
    'powen': 5500,
    'acciona': 6000,
    'ferrovial': 6500,
    'dragados': 6800,
    'ohl': 6800,
    'imesapi': 6200,
    'eulen': 6000,
    'ortiz': 5800,
    'aura': 5500,
    'no_conocen_cual_es_la_instaladora_podrãa_ser_aura_ya_que_la_constructora_que_es_fdez_molina_trabaja_con_ellos': 5500,
    'saveffi': 5200,
    'cyopsa': 5700,
    'pecsa': 5600,
    'ugarte': 5300,
    'electosa': 5500,
    'avelsa_avance_electrico_sl': 5400,
    'acciona_facility_services': 6200,
    'ingedom_sl': 5900,
    'herrera_y_lobatosl': 5800,
    'extraco_construccions_e_proxectos_sa_subontrata_servipack_mantenimientos_industriales': 6000,
    'condisa_grupo_ortiz': 5800,
    'empresa_desconocida': 0
}

# Crear la nueva columna 'precio_instaladora' en el DataFrame
energia['precio_instaladora'] = energia['empresa_instaladora'].map(precios_instaladora)

energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23653 entries, 0 to 23653
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tipo_del_edificio    23653 non-null  object
 1   edificio             23653 non-null  object
 2   direccin             23653 non-null  object
 3   distrito             23653 non-null  object
 4   clase                23653 non-null  object
 5   unidades             23653 non-null  object
 6   consumo              23653 non-null  float64
 7   puesta_en_servicio   23653 non-null  object
 8   potencia_kwp         23653 non-null  float64
 9   empresa_instaladora  23653 non-null  object
 10  agno                 23653 non-null  object
 11  mes                  23653 non-null  int32
 12  consumo_MWh          13297 non-null  float64
 13  precio_energia_MWh   23653 non-null  float64
 14  coste_total          13297 non-null  float64
 15  precio_instaladora   23633 non-null  float64
dtypes: float64(6), int32(1), object(9)
memory usage: 3.0+ MB

Calculamos a través de datos externos el precio medio del kw/h de los distintos edificios de la comunidad de madrid entre los años 2020 y 2024.

In [ ]:
numeros = [0.122, 0.162, 0.277, 0.212, 0.184]

precio_kwh = sum(numeros) / len(numeros)

print(f"La media de los números es: {media:.3f}")

In [ ]:
# Filtrar los edificios industriales
edificios_industriales = energia[energia['tipo_del_edificio'] == 'industrial']
distritos = edificios_industriales.groupby('edificio').agg(
    consumo_total=('consumo', 'sum')
).reset_index()
edificios_industriales

In [ ]:
# Agrupamos por tipo de edificio y contar la cantidad de cada uno
contador_edificios = energia['tipo_del_edificio'].value_counts()

print("Contador de edificios por tipo:")
(contador_edificios)

In [ ]:
no_renovables = energia[energia['clase'].isin(['energía_activa'])]

In [ ]:
no_renovables['precio_kwh_elec'] = no_renovables['consumo'] * precio_kwh
energia.info()

---------------------

In [ ]:
distritos = energia.groupby('distrito').agg(
    consumo_total=('consumo', 'sum'),
    potencia_total=('potencia_kwp', 'sum'),
    num_edificios=('edificio', 'count')
).reset_index()

distritos = distritos.sort_values(by='num_edificios', ascending=False)

distritos

In [ ]:
valores_unicos = energia['tipo_del_edificio'].unique()
valores_unicos

In [ ]:
energia = energia[energia['tipo_del_edificio'] != 'nd']

In [ ]:
energia.info()

------------------------------------------

Creamos una función para calcular la moda del distrito dependiendo del tipo de empresa instaladora.

In [ ]:
def calcular_moda(series):
    return series.mode().tolist()

resultado = energia.groupby('empresa_instaladora')['distrito'] \
                  .apply(calcular_moda) \
                  .reset_index(name='moda_distrito')
resultado

Filtramos las filas donde la clase sea 'energia renovable'.

In [ ]:
energia_renovable = energia[energia['clase'] == 'energía_renovable']
resultado = energia_renovable[['empresa_instaladora', 'distrito','clase']]
resultado

Calculamos los estadísticos básicos de la columna potencia para ver la distribución de dicha columna por distrito.

In [ ]:
energia_renovable['potencia_kwp'].describe()

In [ ]:
plt.figure(figsize=(10,6))
plt.bar(distritos['distrito'], distritos['potencia_total'])
plt.title('Potencia Total Solar por Distrito')
plt.xlabel('distrito')
plt.ylabel('potencia_kWp')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

Como podemos ver en el histograma anterior, usera es el distrito que más potencia genera con diferenciay además es el cuarto distrito con mayor número de edificios registrados. Llama la atención que el Centro apenas registra datos de potencia. A continuación, vamos a ver el número de edificios que representan a los renovables dentro de cada distrito.

In [ ]:
renovables = energia_renovable.groupby('distrito').agg(
    potencia_total=('potencia_kwp', 'sum'),
    num_edificios=('edificio', 'count')
).reset_index()

renovables['total_edificios'] = energia.groupby('distrito')['edificio'].transform('count').reset_index(drop=True)
renovables['porcentaje_edificios'] = (renovables['num_edificios'] / renovables['total_edificios']) * 100
renovables = renovables.sort_values(by='total_edificios', ascending=False)
renovables

A continuación, identificamos los distritos con mayor consumo no renovable.

In [ ]:
distritos_no_renovables = energia[energia['potencia_kwp'].isna() | (energia['potencia_kwp'] == 0)]
distritos_no_renovables = distritos_no_renovables.groupby('distrito').agg(
    consumo_total_no_renovable=('consumo', 'sum')
).reset_index()

plt.figure(figsize=(10, 6))  
colors = plt.cm.viridis(np.linspace(0, 1, len(distritos_no_renovables)))
plt.barh(distritos_no_renovables['distrito'], distritos_no_renovables['consumo_total_no_renovable'], color=colors)
plt.xlabel('Consumo Total No Renovable (kWh)')
plt.ylabel('distrito')
plt.title('Consumo total de energía no renovable por distrito')
plt.show()

Observando el diagrama anterior vemos que el distrito del retiro es el que más consume de la Comunidad de Madrid.
A continuación, filtramos los datos para agrupar por distritos y calcular el consumo total y el número de edificios que utilizan energías no renovables. Calculamos el porcentaje de los edificios que representan los no renovables sobre el total por distritos.

In [ ]:
no_renovables = energia[energia['clase'].isin(['energía_activa'])]

no_renovables = no_renovables.groupby('distrito').agg(
    consumo_total=('consumo', 'sum'),
    num_edificios=('edificio', 'count')
).reset_index()

no_renovables['total_edificios'] = energia.groupby('distrito')['edificio'].transform('count').reset_index(drop=True)
no_renovables['porcentaje_edificios'] = (no_renovables['num_edificios'] / no_renovables['total_edificios']) * 100
no_renovables = no_renovables.sort_values(by='porcentaje_edificios', ascending=False)
no_renovables

Como vemos en la tabla anterior, el distrito de la latina tiene el mayor porcentaje de edificios que consumen energía no renovable.

Ahora, obtenemos la dirección con la mayor potencia en cada distrito y el tipo de edificio que es. En primer lugar, vamos a crear un DataFrame paralelo sin los valores NaN en 'potencia kwp, y más abajo lo haremos igual con la columna de consumo.

CDI : Centro de Desarrollo Infantil

CDM : centro deportivo municipal 

CSC : Centro Socio-Cultural 

CEIP : Centro de Educación Infantil y Primaria 

JMD : Junta Municipal de Distrito IDB : Instituto de Diversidad y Bienestar

In [ ]:
energia_limpia = energia[energia['potencia_kwp'].notna()]
max_potencia_distrito = energia_limpia.groupby(['distrito', 'direccin'])['potencia_kwp'].max().reset_index()
max_potencia_distrito = max_potencia_distrito.loc[max_potencia_distrito.groupby('distrito')['potencia_kwp'].idxmax()]
# Añadir la columna 'edificio' correspondiente a esa dirección
max_potencia_distrito['tipo_del_edificio'] = max_potencia_distrito.apply(
    lambda row: energia[(energia['distrito'] == row['distrito']) & (energia['direccin'] == row['direccin'])].iloc[0]['tipo_del_edificio'],
    axis=1
)
max_potencia_distrito

In [ ]:
energia_limpia_consumo = energia[energia['consumo'].notna()]
max_consumo_distrito = energia_limpia_consumo.groupby(['distrito', 'direccin'])['consumo'].sum().reset_index()
max_consumo_distrito = max_consumo_distrito.loc[max_consumo_distrito.groupby('distrito')['consumo'].idxmax()]
max_consumo_distrito['tipo_del_edificio'] = max_consumo_distrito.apply(
    lambda row: energia[(energia['distrito'] == row['distrito']) & (energia['direccin'] == row['direccin'])].iloc[0]['tipo_del_edificio'],
    axis=1
)
max_consumo_distrito

# Latina

Filtramos los edificios que están en el distrito Latina y utilizan energía no renovable.

In [ ]:
la_latina = energia[(energia['distrito'] == 'latina') & 
                    (energia['clase'].isin(['energía_reactiva', 'energía_activa', 'gas']))]

In [ ]:
consumo_la_latina = la_latina.groupby(['tipo_del_edificio']).agg(
    consumo_total=('consumo', 'sum'),
    num_edificios=('edificio', 'count')
).reset_index()

Calculamos la moda de la columna dirección por cada tipo de edificio del distrito Latina.

In [ ]:
moda_direccion = la_latina.groupby('tipo_del_edificio')['direccin'].agg(
    lambda x: x.mode().iloc[0] if not x.mode().empty else None
).reset_index()

consumo_la_latina = consumo_la_latina.merge(moda_direccion, on='tipo_del_edificio', how='left')

In [ ]:
consumo_la_latina = consumo_la_latina.sort_values(by='num_edificios', ascending=False)
consumo_la_latina

Podemos observar que en el distrito que más consume de la Comunidad de Madrid el tipo de edificio que más consume son los deportivos.

In [ ]:

import seaborn as sns

consumo_la_latina = consumo_la_latina.sort_values(by='consumo_total', ascending=False)

# Gráfico de barras
plt.figure(figsize=(12, 6))
sns.barplot(
    data=consumo_la_latina,
    x='tipo_del_edificio',
    y='consumo_total',
    palette='viridis'
)
plt.title("Consumo Total en La Latina por Tipo de Edificio", fontsize=16)
plt.xlabel("Tipo de Edificio", fontsize=12)
plt.ylabel("Consumo Total (kWh)", fontsize=12)
plt.xticks(rotation=45, ha='right')  # Rotar etiquetas si son largas
plt.tight_layout()  # Ajustar el diseño
plt.grid(axis='y', linestyle='--', alpha=0.7)  # Agregar rejilla para eje Y
plt.show()

# Arganzuela

In [ ]:
# Filtrar filas donde el distrito sea 'Arganzuela'
arganzuela_data = energia[energia['distrito'] == 'arganzuela']

# Seleccionar las columnas 'edificio' y 'clase' para mostrar los tipos de edificios y clases de energía
resultado = arganzuela_data[['edificio', 'clase']]

# Mostrar el resultado
resultado

In [ ]:
# Agrupar por la columna 'clase' y contar el número de edificios únicos
resultado = arganzuela_data.groupby('clase')['edificio'].nunique().reset_index(name='numero_edificios')

# Mostrar el resultado
resultado

In [ ]:
# Filtrar las filas donde la clase sea 'energia renovable'
energia_renovable_arg = arganzuela_data[arganzuela_data['clase'] == 'energía_renovable']

# Seleccionar las columnas 'edificio' y 'tipo de edificio' (ajusta los nombres si son distintos)
resultado1 = energia_renovable_arg[['edificio', 'tipo_del_edificio']].drop_duplicates()
# Mostrar el resultado
resultado1

In [ ]:
energia_renovable_arg2 = arganzuela_data[arganzuela_data['clase'] == 'gas']

# Seleccionar las columnas 'edificio' y 'tipo de edificio' (ajusta los nombres si son distintos)
resultado2 = energia_renovable_arg2[['edificio', 'tipo_del_edificio']].drop_duplicates()
# Mostrar el resultado
resultado2

Correlación entre potencia y consumo: Representa la relación entre la potencia generada y el consumo de energía para identificar distritos que no están aprovechando al máximo la energía generada.

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(distritos['potencia_total'], distritos['consumo_total'], alpha=0.7)
plt.title('Relación entre Potencia Generada y Consumo por Distrito')
plt.xlabel('Potencia Total (kWp)')
plt.ylabel('Consumo Total (kWh)')
plt.grid(True)
plt.show()

Gráfico de líneas para las tendencias de consumo de energía no renovable.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Filtrar energías no renovables
energia_no_renovable = energia[energia['clase'].isin(['gas', 'energia_activa', 'energia_reactiva'])]

# Agrupar por fecha y sumar consumo
energia_no_renovable['puesta_en_servicio'] = pd.to_datetime(energia_no_renovable['puesta_en_servicio'])
consumo_no_renovable = energia_no_renovable.groupby('puesta_en_servicio')['consumo'].sum()

# Crear gráfico
plt.figure(figsize=(12, 6))
plt.plot(consumo_no_renovable.index, consumo_no_renovable.values, label='Consumo No Renovable')
plt.title('Tendencia del Consumo No Renovable', fontsize=16)
plt.xlabel('Fecha', fontsize=12)
plt.ylabel('Consumo (kWh)', fontsize=12)
plt.legend()
plt.grid()
plt.show()

In [ ]:
# Dirección concreta que deseas consultar
#direccion_concreta = 'AVENIDA MONFORTE DE LEMOS, 38-40 28029 MADRID'  # Sustituye con la dirección que deseas
# Filtrar el DataFrame por la dirección especificada
#edificios_direccion = energia[energia['dirección'] == direccion_concreta]
# Mostrar los edificios encontrados en esa dirección
#print(edificios_direccion[['edificio', 'dirección']])

In [ ]:
pip install geopy

In [ ]:
import pandas as pd
import time
from geopy.geocoders import Nominatim
import plotly.express as px

# Inicializar el geolocalizador
geolocator = Nominatim(user_agent="geopyExercises")

# Función para obtener latitud y longitud de una dirección
def get_coordinates(address):
    try:
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None  # Si no se encuentra la dirección
    except Exception as e:
        print(f"Error geocodificando la dirección {address}: {e}")
        return None, None  # Si ocurre un error

# Suponiendo que tienes un DataFrame 'max_potencia_distrito' con una columna 'direccion'
# Asegúrate de que el nombre de la columna sea correcto ('direccion' en lugar de 'direccin')
max_potencia_distrito[['latitud', 'longitud']] = max_potencia_distrito['direccin'].apply(
    lambda x: pd.Series(get_coordinates(x))
)

# Espera de tiempo para evitar bloqueos por exceso de peticiones a la API
time.sleep(1)

# Crear el gráfico interactivo de Plotly
fig = px.scatter_mapbox(max_potencia_distrito,
                        lat='latitud', lon='longitud',
                        color='potencia_kwp',
                        size='potencia_kwp',
                        hover_data=['distrito', 'direccin', 'potencia_kwp'],
                        title='Edificios Públicos con Mayor Potencia Solar por Distrito',
                        color_continuous_scale=px.colors.sequential.Viridis,
                        mapbox_style="open-street-map")

# Ajustar el centro del mapa y el nivel de zoom
fig.update_layout(mapbox_center_lat=40.5, mapbox_center_lon=-3.7, mapbox_zoom=8)

# Mostrar el gráfico interactivo
fig.show()

# Agrupar por distrito y obtener la moda de edificios
moda_edificios_distrito = energia.groupby('distrito')['edificio'].agg(lambda x: x.mode()[0]).reset_index()

# Para cada edificio en la moda, obtener la dirección correspondiente
moda_edificios_distrito['direccin'] = moda_edificios_distrito.apply(
    lambda row: energia[energia['edificio'] == row['edificio']].iloc[0]['direccin'],
    axis=1
)

moda_edificios_distrito